@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Roboto */
@font-face {
    font-family: 'Roboto-thin';
    src: url("fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: 'Roboto-light';
    src: url("fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: 'Roboto-normal';
    src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Roboto-bold';
    src: url("fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: 'Roboto-black';
    src: url("fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: 'Oswald-medium';
    src: url("fonts/Oswald-Medium.ttf");
}

@font-face {
    font-family: 'Bold';
    src: url("fonts/Bold.ttf");
}

@font-face {
    font-family: 'SemiBold';
    src: url("fonts/SemiBold.ttf");
}

@font-face {
    font-family: 'SemiBoldItalic';
    src: url("fonts/SemiBoldItalic.ttf");
}

@font-face {
    font-family: 'titilliumwebbold';
    src: url("fonts/titilliumwebbold.ttf");
}

@font-face {
    font-family: 'titilliumwebsemibold';
    src: url("fonts/titilliumwebsemibold.ttf");
}

@font-face {
    font-family: 'titilliumwebsemibolditalic';
    src: url("fonts/titilliumwebsemibolditalic.ttf");
}

@font-face {
    font-family: 'titilliumwebregular';
    src: url("fonts/titilliumwebregular.ttf");
}

@font-face {
    font-family: 'titilliumwebbolditalic';
    src: url("fonts/titilliumwebbolditalic.ttf");
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url("fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url("fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url("fonts/Montserrat-Regular.ttf");
}

/* nuevas fuentes */

@font-face {
    font-family: 'nunito-bold';
    src: url("fonts/nunito-bold.ttf");
}

@font-face {
    font-family: 'poppins-bold';
    src: url("fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: 'poppins-semibold';
    src: url("fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: 'poppins-regular';
    src: url("fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: 'poppins-light';
    src: url("fonts/Poppins-Light.ttf");
}

/* -------------- */

.titilliumwebbold {
    font-family: titilliumwebbold;
}

.titilliumwebsemibold {
    font-family: titilliumwebsemibold;
}

.titilliumwebsemibolditalic {
    font-family: titilliumwebsemibolditalic;
}

.titilliumwebregular {
    font-family: titilliumwebregular;
}

.titilliumwebbolditalic {
    font-family: titilliumwebbolditalic;
}

.activos {
    background-color: rgba(0,0,0,0.55)
}

.index{
    z-index: -50;
}

/* .activos .cls-1{
    fill:rgba(49, 39, 130, var(--tw-text-opacity));
}

.desactivados{
    background-color: rgba(205, 214, 224, var(--tw-bg-opacity))
} */

.bg_oscuro::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}

.triangulo-select {
    display: block;
    width: 0;
    height: 0;
    border-bottom: 0;
    border-top: 7px solid #255180;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.disabled{
    @apply opacity-50;
}

select {
    background-image: none;
}

#precio_deseado::placeholder {
    @apply text-transparent;
}

#precio_deseado:focus~label {
    @apply text-transparent;
}

.w-0percent {
    width: 0%;
}

.book {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
}

.book .marcador {
    width: 50%;
    padding: 5px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

[type="radio"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' style='fill: rgb(28, 113, 200)' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
    border-color: #1C71C8 !important;
}

[type="radio"] {
    color: transparent;
    border-color: #1C71C8 !important;
}

[type="checkbox"] {
    color: #1C71C8 !important;
    border-color: #1C71C8 !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
    transition: all 0.75s ease-out;
}


.slide-enter-to {
    position: absolute;
    right: 0;
}


.slide-enter-from {
    position: absolute;
    right: -100%;
}


.slide-leave-to {
    position: absolute;
    left: -100%;
}


.slide-leave-from {
    position: absolute;
    left: 0;
}

.index_fondo {
    background-image: url('/assets/images/version2/jpg/fondo-gris.jpg')
}

.home_fondo {
    background-image: url('/assets/images/fondo_home_vinte.jpg');
    height: auto;
    min-height: calc(100vh - 2rem);
}

.comprar_fondo {
    background-image: url('/assets/images/comprar_fondo.jpg');

}

.acc .active .img_voltear{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.btn_comprar {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tucasaodepa {
    width: 20rem;
}

.btn_click {
    top: 40px;
    right: -15px;
}

.centrado_oferta {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back_vender {
	background-image: url(/assets/images/png/casa_back.png);
	background-position: 6rem bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 30vh;
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  #cont_menu{
    transition: all .5s linear;
    max-height: 0;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    overflow: hidden;
    }

    .menu_visible{
        background-color: #49217c;
        height:calc(100vh)!important;
        max-height: calc(100vh)!important;
    }

    .back_grad_1{

        background: rgb(213,207,220);

        background: -moz-linear-gradient(180deg, rgba(213,207,220,1) 0%, rgba(255,255,255,1) 100%);

        background: -webkit-linear-gradient(180deg, rgba(213,207,220,1) 0%, rgba(255,255,255,1) 100%);

        background: linear-gradient(180deg, rgba(213,207,220,1) 0%, rgba(255,255,255,1) 100%);

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d5cfdc",endColorstr="#ffffff",GradientType=1);

    }

    .back_grad_2{

        background-image: linear-gradient(to top, #ffffff, #fbfafe, #f7f6fc, #f4f1fb, #f1ecf9, #f1ecf9, #f1ecf9, #f1ecf9, #f4f1fb, #f7f6fc, #fbfafe, #ffffff);

    }

    .back_grad_3{

        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,231,245,0.8477591720281863) 25%, rgba(237,231,245,1) 50%, rgba(237,231,245,0.8533614129245448) 75%, rgba(255,255,255,1) 100%);

    }

    .vector_1 {
        pointer-events: none;

        background-image: url(/assets/images/png/vector_1.png);

        background-position: center;

        background-repeat: no-repeat;

        background-size: cover;

        height: 20rem;

        width: 25rem;

        position: absolute;

        left: -18rem;

        top: 2rem;

    }

    .vector_2 {
        pointer-events: none;
        background-image: url(/assets/images/png/vector_2.png);
        background-position: 244px;
        background-repeat: no-repeat;
        min-height: 700px;
        right: -10%;
        bottom: -25rem;
        position: absolute;
        width: 500px;
        background-size: cover;
    }

    .vector_3 {
        background-image: url(/assets/images/png/vector_3.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 10rem;
        width: 10rem;
        position: absolute;
        left: 56%;
        top: 7rem;
        z-index: 2;
    }

    .vector_4 {
        background-image: url(/assets/images/png/vector_3.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 18rem;
        width: 18rem;
        position: absolute;
        left: -8rem;
        top: -1rem;
        z-index: 0;
    }

    .vector_5 {
        background-image: url(/assets/images/png/vector.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        height: 15rem;
        width: 25rem;
        position: absolute;
        right: 0rem;
        z-index: 2;
        top: 1rem;
    }

    .vector_6 {
        background-image: url(/assets/images/png/vector_4.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 62vh;
        width: 18rem;
        position: absolute;
        right: 3rem;
        top: 5rem;
    }

    .vector_7 {
        background-image: url(/assets/images/png/vector.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        height: 15rem;
        width: 25rem;
        position: absolute;
        right: 0rem;
        z-index: 2;
        top: -4rem;
    }

  .scroll_custom {
    scrollbar-width: auto;
    scrollbar-color: #b8d057 #f7f7f7;
  }

  .scroll_custom::-webkit-scrollbar {
    width: 7px;
  }

  .scroll_custom::-webkit-scrollbar-track {
    background: #f7f7f7;
  }

  .scroll_custom::-webkit-scrollbar-thumb {
    background-color: #b8d057;
    border-radius: 10px;
    border: 0px solid #ffffff;
  }

@media only screen and (min-width: 1024px) {
    .h-minimo-venta {
        min-height: 800px;
    }
}

@media only screen and (min-width: 1500px) {
    .back_vender {
        background-image: url(/assets/images/png/casa_back.png);
        background-position: 14rem bottom;
        background-repeat: no-repeat;
        background-size: 90%;
        min-height: 25vh;
    }

    .tucasaodepa {
        width: 30rem;
    }

    .btn_click {
        top: 65px;
        right: -15px;
    }
}

@media only screen and (max-width: 992px) {
    .index_fondo {
        background-image: url('/assets/images/version2/svg/fondo-gris.svg')
    }

    /* .fondoback {
        background: linear-gradient(to left, #e7e8ed, #fafafc);
    } */
    .home_fondo {
        background-image: url('/assets/images/fondo_home_vinte_movil.jpg');
        height: auto;
        /* background-size: 100%;
        background-position: bottom; */
        min-height: calc(100vh - 2rem);
        /* background-repeat: no-repeat; */
    }

    .comprar_fondo {
        background-image: url('/assets/images/comprar_fondo_movil.png');
        background-size: cover;
    }

    .btn_click {
        top: 40px;
        right: 0px;
    }

    .btn_comprar {
        top: 45%;
    }

    .vector_1 {
        pointer-events: none;
        background-image: url(/assets/images/png/vector_1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 15rem;
        width: 10rem;
        position: absolute;
        left: -9rem;
        top: 2rem;
    }


    .vector_2 {
        pointer-events: none;
        background-image: url(/assets/images/png/vector_2.png);
        background-position: 30px;
        background-repeat: no-repeat;
        min-height: 300px;
        right: -17%;
        bottom: -32rem;
        position: absolute;
        width: 150px;
        background-size: cover;
    }

    .vector_4 {
        background-image: url(/assets/images/png/vector_3.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 10rem;
        width: 10rem;
        position: absolute;
        left: -4rem;
        bottom: -6rem;
        z-index: 0;
    }

    .vector_5 {
        background-image: url(/assets/images/png/vector.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        height: 10rem;
        width: 10rem;
        position: absolute;
        left: -4.5rem;
        z-index: 2;
        top: 6rem;
    }

    .back_vender {
        background-image: url(/assets/images/png/casita_movil.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        min-height: 35vh;
    }

    .vector_7 {
        background-image: url(/assets/images/png/vector.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        height: 10rem;
        width: 15rem;
        position: absolute;
        left: -9.5rem;
        z-index: 2;
        top: 6.5rem;
    }

}

/* @media only screen and (max-width: 600px) {
    .book {
        top: inherit;
        bottom: 0 !important;
    }
} */

.slick-dots {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}

.slick-dots li.slick-active button::before {
	opacity: .75;
	color: #312782;
}

.slick-dots li button::before {
	font-family: 'slick';
	font-size: 50px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: '•';
	text-align: center;
	opacity: .25;
	color: #312782;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.dots_slider_desc .slick-dots li.slick-active button::before {
	opacity: .75;
	color: #fff;
}

.dots_slider_desc .slick-dots li button::before {
	font-family: 'slick';
	font-size: 50px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: '•';
	text-align: center;
	opacity: .25;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-5-16 16:47:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.gradiente-home{
    background: linear-gradient(90deg, rgba(255,255,255,1) 65%, rgba(88,50,135,0.1) 100%);
}

.button-gradient{
    background: linear-gradient(35deg, rgba(85,77,137,1) 22%, rgba(88,50,135,1) 50%, rgba(178,68,251,1) 99%);
}
