<template>



        <div class="relative z-10 flex items-start justify-end w-full h-auto px-2 lg:px-6 lg:top-6 lg:fixed lg:flex-row lg:h-52">

            <div class="absolute left-0 items-center justify-start hidden w-4/12 px-8 lg:flex">
                <img class="relative w-4/12 " src="/assets/images/svg/vente_tucasa_dos.png" alt="tu_casa_o_depa">
                <!-- <img class="relative w-3/5 max-w-md pt-6" src="/assets/images/svg/vende_casa_icon.svg" alt="tu_casa_o_depa"> -->
            </div>

            <div class="relative justify-between hidden w-full pl-10 bg-white lg:flex lg:w-8/12">
                <button class="text-sm text-black font-montserrat-bold lg:text-lg xl:text-2xl" @click="nuevo" v-if="slide != 'final'">{{ this.$trans('quest.exit') }}<div class="absolute w-16 h-0 border-b-4 border-azul-vinte-texto"></div></button>
                <button class="text-sm text-black font-montserrat-bold lg:text-2xl xl:text-3xl" @click="nuevo" v-else>Ir al inicio <div class="absolute w-20 h-0 ml-20 border-b-4 border-azul-vinte-texto" ></div></button>
                <img class="relative w-2/12 max-w-md pt-2" src="/assets/images/svg/vende_casa_icon.png" alt="tu_casa_o_depa">
            </div>


            <div class="flex flex-col items-center justify-center w-full pt-6 lg:hidden ">
                <div class="flex items-center justify-between w-full">
                    <img class="relative w-3/12 max-w-md lg:w-7/12" src="/assets/images/svg/vente_tucasa_dos.png" alt="tu_casa_o_depa">
                    <img class="relative w-3/12 max-w-md right-4" src="/assets/images/svg/vende_casa_icon.png" alt="tu_casa_o_depa">
                </div>
                <div class="relative flex items-center justify-start w-full pt-6">
                    <button class="text-lg text-black font-montserrat-bold lg:text-2xl xl:text-3xl" @click="nuevo" v-if="slide != 'final'">
                        {{ this.$trans('quest.exit') }}
                        <div class="absolute w-10 h-0 border-b-4 border-azul-vinte-texto" ></div>
                    </button>
                    <button class="text-lg text-black font-montserrat-bold lg:text-2xl xl:text-3xl" @click="nuevo" v-else>
                        Ir al inicio
                        <div class="absolute w-4 h-0 border-b-4 border-azul-vinte-texto" ></div>
                    </button>
                </div>
            </div>

            <!-- <img class="pt-10 w-28 lg:w-60 lg:pt-0" src="/assets/images/svg/vendetucasa.svg" alt=""> -->
            <!-- <img class="pt-10 w-28 lg:w-60 lg:pt-0" src="/assets/images/svg/vende_casa_icon.svg" alt="icon"> -->
        </div>



</template>

<script>

    export default {
        props: ['noSlide'],
        data() {
            return {
                sl:''
            }
        },
        computed: {
            slide: {
                get(){
                    return this.noSlide;
                },
                set(value){
                    return this.value;
                }
            }
        },
        methods: {
            nuevo: function(){
                this.$emit('nuevo')
            },
        }
    }

</script>
