<template>

    <div style="height: calc(100% - 240px)" class="flex flex-col items-center justify-start w-full">

        <div class="relative flex flex-col items-center justify-center pt-10 lg:pt-0">
            <p class="text-lg text-justify font-poppins-semibold text-morado-xante">{{ this.$trans('quest.cinco') }}</p>

            <div class="relative flex flex-col items-center justify-center w-full px-4 pt-10">
                <p class="w-10/12 text-justify lg:w-1/2 font-poppins-light">{{ this.$trans('quest.cinco_sub') }}</p>

                <!-- <select class="w-full mt-8 bg-gray-300 border-transparent rounded-lg outline-none w:10/12 form-select focus:border-verde-landing focus:border-4 font-poppins-light focus:ring-offset-0 focus:ring-0 focus:outline-none " v-model="hipoteca" v-on:focus="pruebafocus" v-on:blur="pruebablur">
                    <option value="" selected="selected" disabled>Selecciona una opción</option>
                    <option value="No está hipotecada">{{ this.$trans('quest.cinco_res1') }}</option>
                    <option value="INFONAVIT">INFONAVIT</option>
                    <option value="FOVISSSTE">FOVISSSTE</option>
                    <option value="Banco">{{ this.$trans('quest.cinco_res3') }}</option>
                    <option value="COFINAVIT">COFINAVIT</option>
                    <option value="Otro">{{ this.$trans('quest.cinco_res2') }}</option>
                </select> -->

                <select v-if="vModelUsed" v-model="hipoteca" class="w-full mt-8 bg-gray-300 border-transparent rounded-lg outline-none w:10/12 form-select focus:border-verde-landing focus:border-4 font-poppins-light focus:ring-offset-0 focus:ring-0 focus:outline-none ">
                    <option  :value="null" disabled >Selecciona una opción</option>
                    <option v-for="option in options" :value="option.value" :key="option.value" :selected="option.value === hipoteca">{{ option.label }}</option>
                    </select>
                    <select v-else @change="handleChange" class="w-full mt-8 bg-gray-300 border-transparent rounded-lg outline-none w:10/12 form-select focus:border-verde-landing focus:border-4 font-poppins-light focus:ring-offset-0 focus:ring-0 focus:outline-none ">
                    <option :value="null" disabled selected>Selecciona una opción</option>
                    <option v-for="option in options" :value="option.value" :key="option.value">
                        {{ option.label }}
                    </option>
                    </select>


                <div class="pt-2 input-errors font-montserrat-regular" v-for="error of v$.hipoteca.$silentErrors" :key="error.$uid">
                    <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.required') }}</div>
                </div>

            </div>
            <div class="relative flex items-center justify-center w-full pt-10 lg:hidden">
                <div class="relative flex justify-center h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer w-28 button-gradient font-poppins-bold" v-on:click="siguiente()">{{ this.$trans('quest.siguiente') }}</div>
            </div>
            <div class="relative flex items-center justify-center w-full pt-10 lg:hidden">
                <div class="relative flex justify-center h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer w-28 button-gradient font-poppins-bold" v-on:click="retroceder()">Anterior</div>
            </div>



        </div>
        <div class="relative w-full pt-64 top-96">
        <div class="absolute z-20 justify-center hidden h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer lg:flex bottom-28 left-4 w-28 button-gradient font-poppins-bold hover:shadow-lg hover:scale-110" v-on:click="retroceder()">Anterior</div>

        <div class="absolute z-20 justify-center hidden h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer lg:flex bottom-28 right-4 w-28 button-gradient font-poppins-bold hover:shadow-lg hover:scale-110" v-on:click="siguiente()">{{ this.$trans('quest.siguiente') }}</div>
        </div>

    </div>
</template>

<script>

    import useVuelidate from '@vuelidate/core'
    import { required } from '@vuelidate/validators'

    export default {
        props: ['formulario'],
        setup () {
            return { v$: useVuelidate() }
        },
        data() {
            return {
                hipoteca: null,
                options: [
                    { value: 'No está hipotecada', label: 'No está hipotecada' },
                    { value: 'INFONAVIT', label: 'INFONAVIT' },
                    { value: 'FOVISSSTE', label: 'FOVISSSTE' },
                    { value: 'Banco', label: 'Banco' },
                    { value: 'COFINAVIT', label: 'COFINAVIT' },
                    { value: 'Otro', label: 'Otro' },
                ],
            }
        },
        computed: {
            vModelUsed() {
            return this.$attrs.hasOwnProperty('v-model');
            },
        },
        validations() {
            return {
                hipoteca: {
                    required,
                },

            }
        },
        mounted() {
            console.log('hipoteca log: '+this.hipoteca)
            if (!this.hipoteca) {
                this.hipoteca = this.options.length > 0 ? this.options[0].value : null;
                }

            this.hipoteca = this.formulario.mortgage
            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
            if (this.formulario.mortgage != ""){
                this.vernumero = false
            }

        },
        methods:{
            handleChange(event) {
            this.hipoteca = event.target.value;
            },
            retroceder: function(){
                this.$emit('retrocederBtn')
            },

            siguiente: function(){

                if(!this.v$.$invalid){
                    this.$emit('guardarValor', 'mortgage', this.hipoteca)
                    this.$emit('avanzar')
                    // this.$emit('avanzarBtn')
                }

            }

        }
    }

    // $("#choice").change(function () {
    // if($(this).val() == "0") $(this).addClass("empty");
    // else $(this).removeClass("empty")
    // });
    // $("#choice").change();

</script>
