<template>
    <div style="height: calc(100% - 240px)" class="flex flex-col items-center justify-start w-full">

        <div class="relative flex flex-col items-center justify-center pt-16 lg:pt-0">
            <p class="text-lg text-justify font-poppins-semibold text-morado-xante">{{ this.$trans('quest.cuatro') }}</p>
            <span class="text-sm text-gray-400 font-poppins-light">{{ this.$trans('quest.cuatro_sub') }}</span>

            <div class="relative flex flex-col items-center justify-center w-full px-4 pt-10">
                <p class="text-sm text-justify font-poppins-light">{{ this.$trans('quest.cuatro_pre') }}</p>
                <span class="pt-6 text-xs text-justify text-morado-xante font-poppins-light">{{ this.$trans('quest.cuatro_instruc') }}</span>
                <div class="relative w-full">
                 <input pattern="[0-9]*" v-on:focus="pruebafocus" v-on:blur="pruebablur" v-model="cantidad" :placeholder="this.$trans('quest.enter_answer')" v-on:keyup="keyMonitor" type="text" class="w-full mt-2 bg-gray-300 border-transparent rounded-lg outline-none focus:border-verde-landing focus:border-4 font-poppins-light focus:ring-offset-0 focus:ring-0 focus:outline-none">
                 <div class="absolute top-0 bottom-0 left-0 right-0 z-10 flex items-center w-full px-4 mt-2 bg-gray-300 border-transparent rounded-lg outline-none pointer-events-none focus:border-verde-landing focus:border-4 font-poppins-light focus:ring-offset-0 focus:ring-0 focus:outline-none" v-if="vernumero && cantidadformateada.length > 0">
                    <span class="font-poppins-light">{{ cantidadformateada }}</span>

                 </div>
                </div>
                <div class="pt-2 input-errors font-montserrat-regular" v-for="error of v$.cantidad.$silentErrors" :key="error.$uid">
                    <!-- <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.required') }}</div> -->
                                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.digits') }}</div>
                                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                </div>

            </div>
            <div class="relative flex items-center justify-center w-full pt-10 lg:hidden">
                <div class="relative flex justify-center h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer w-28 button-gradient font-poppins-bold" v-on:click="siguiente()">{{ this.$trans('quest.siguiente') }}</div>
            </div>
            <div class="relative flex items-center justify-center w-full pt-10 lg:hidden">
                <div class="relative flex justify-center h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer w-28 button-gradient font-poppins-bold" v-on:click="retroceder()">Anterior</div>
            </div>



        </div>

        <div class="relative top-96 w-full pt-72">
        <div class="absolute z-20 justify-center hidden h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer lg:flex bottom-28 left-4 w-28 button-gradient font-poppins-bold hover:shadow-lg hover:scale-110" v-on:click="retroceder()">Anterior</div>

        <div class="absolute z-20 justify-center hidden h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer lg:flex bottom-28 right-4 w-28 button-gradient font-poppins-bold hover:shadow-lg hover:scale-110" v-on:click="siguiente()">{{ this.$trans('quest.siguiente') }}</div>
        </div>

    </div>
</template>

<script>

    import useVuelidate from '@vuelidate/core'
    import {  required, numeric, minValue, maxValue, pruebablur, vernumero, pruebafocus } from '@vuelidate/validators'

    export default {
        props: ['formulario'],
        setup () {
            return { v$: useVuelidate() }
        },
        data() {
            return {
                cantidad: null,
                vernumero: true,
                cantidadformateada: "",
                // cantidad: 0,

            }
        },
        validations() {
            return {
                cantidad: {
                    required,
                    numeric,
                    minValue: minValue(100000),
                    // maxValue: maxValue(100)
                },

            }
        },
        mounted() {
            this.cantidad = this.formulario.offer_money
            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
            this.habilitarBotonAceptar(this.v$.$invalid)
        },
        methods:{

            conversionNew: function(){

                let temp = "";

                temp = this.cantidad.replace(/\D/g,'').toString();

                if(this.price_format(temp) == 'NaN'){
                    this.cantidadformateada = ''
                }else{
                    this.cantidadformateada = this.price_format(temp)
                }

            },
            keyMonitor: function(event){
                this.conversionNew()
            },
            pruebablur: function(){
                this.vernumero = true
            },
            pruebafocus: function(){
                this.vernumero = false
            },
            price_format(price){
                return new Intl.NumberFormat().format(price);
            },
            retroceder: function(){
                this.$emit('retrocederBtn')
            },
            siguiente: function(){

                if(!this.v$.$invalid){
                    this.$emit('guardarValor', 'offer_money', this.cantidad)
                    this.$emit('avanzar')
                    // this.$emit('avanzarBtn')
                }

            }

        }
    }

</script>
