<template>

    <div class="relative flex items-start justify-end w-full px-6 py-6 pt-20 overflow-y-hidden h-2/3 lg:py-0 lg:pt-0">

        <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly">
            <p class="py-2 text-2xl text-black font-montserrat-bold">{{ this.$trans('quest.q4') }}</p>
            <div class="flex items-center justify-start w-full font-montserrat-semibold">
                <input type="radio" class="mr-3 w-7 h-7" name="dos" value="1" id="1" @change="guardar" v-model="propiedad_tipo_id"> <label for="1" class="mr-4 text-black cursor-pointer font-montserrat-semibold">{{ this.$trans('quest.home') }}</label>
                <input type="radio" class="ml-8 mr-3 w-7 h-7" name="dos" value="2" id="2" @change="guardar" v-model="propiedad_tipo_id"> <label for="2" class="mr-4 text-black cursor-pointer font-montserrat-semibold">{{ this.$trans('quest.department') }}</label>
            </div>

            <button class="py-1.5 mt-10 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{ this.$trans('quest.accept') }}</button>

        </div>

        <div class="w-0 lg:w-2/12"></div>

    </div>

</template>

<script>

    export default {
        props: ['formulario'],
        data() {
            return {
                propiedad_tipo_id: "",
                deshabilitar: true
            }
        },
        mounted() {
            if(typeof(this.formulario.propiedad_tipo_id) != 'undefined'){
                this.propiedad_tipo_id = this.formulario.propiedad_tipo_id
                this.$emit('deshabilitarAvanzar', false)
                this.habilitarBotonAceptar(false)
            }else{
                this.$emit('deshabilitarAvanzar')
                this.habilitarBotonAceptar(true)
            }
        },
        methods: {
            guardar: function(){
                this.$emit('deshabilitarAvanzar', false)
                this.$emit('guardarValor', 'propiedad_tipo_id', this.propiedad_tipo_id)
                this.habilitarBotonAceptar(false)
            },
            siguiente: function(){
                this.$emit('avanzar')
            },
            habilitarBotonAceptar: function(estado = true){
                this.deshabilitar = estado
            }
        }
    }

</script>
