<template>

    <div class="relative flex items-start justify-end w-full px-6 py-6 pt-20 overflow-y-hidden h-2/3 lg:py-0 lg:pt-0">

        <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly" v-if="propiedad_tipo_id == '1'">
            <p class="text-black font-montserrat-semibold">{{ this.$trans('quest.excellent') }}</p>
            <p class="py-2 text-2xl text-black font-montserrat-bold">{{ this.$trans('quest.q19c') }}</p>
            <p class="pb-2 text-black font-semibolditalic">{{ this.$trans('quest.mxn') }}</p>
            <div class="flex items-center justify-start w-full">
                <span class="font-bold text-black">$</span>
                <input type="text" pattern="[0-9]*" :placeholder="this.$trans('quest.enter_answer')" class="w-full text-black border-0 border-b-2 font-montserrat-semibold" @input="guardar" v-model="propiedad_precio" v-on:keyup="keyMonitor">
            </div>
            <div class="pt-2 input-errors font-montserrat-regular" v-for="error of v$.propiedad_precio.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.required') }}</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.numeric') }}</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.email_valid') }}</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' + $trans('quest.chars') }} </div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.max + ' ' + $trans('quest.chars') }} </div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.max_val') + ' ' + error.$params.max }}</div>
            </div>

            <button class="py-1.5 mt-10 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{ this.$trans('quest.accept') }}</button>

        </div>

        <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly" v-if="propiedad_tipo_id == '2'">
            <p class="text-black font-montserrat-semibold">{{ this.$trans('quest.excellent') }}</p>
            <p class="py-2 text-2xl text-black font-montserrat-bold">{{ this.$trans('quest.q19d') }}</p>
            <p class="pb-2 text-black font-semibolditalic">{{ this.$trans('quest.mortgage') }}</p>
            <div class="flex items-center justify-start w-full mt-4 lg:mt-0">
                <input type="radio" class="mr-3 w-7 h-7" name="diecisiete" value="SI" id="SI" v-model="hipoteca" @change="guardar"><label for="SI" class="mr-4 font-semibold text-black cursor-pointer">{{ this.$trans('quest.yes') }}</label>
                <input type="radio" class="ml-8 mr-3 w-7 h-7" name="diecisiete" value="NO" id="NO" v-model="hipoteca" @change="guardar"><label for="NO" class="mr-4 font-semibold text-black cursor-pointer">{{ this.$trans('quest.no') }}</label>
            </div>
            <div class="pt-2 input-errors font-montserrat-regular" v-for="error of v$.hipoteca.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.required') }}</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.numeric') }}</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.email_valid') }}</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' + $trans('quest.chars') }} </div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.max + ' ' + $trans('quest.chars') }} </div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.max_val') + ' ' + error.$params.max }}</div>
            </div>

            <button class="py-1.5 mt-10 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{ this.$trans('quest.accept') }}</button>

        </div>

        <div class="w-0 lg:w-2/12"></div>

    </div>

</template>

<script>

    import useVuelidate from '@vuelidate/core'
    import { required, numeric, minValue } from '@vuelidate/validators'

    export default {
        props: ['formulario'],
        setup () {
            return { v$: useVuelidate() }
        },
        data() {
            return {
                propiedad_tipo_id: "",
                propiedad_precio: "0.00",
                hipoteca: "NO",
                deshabilitar: true
            }
        },
        validations() {
            return {
                propiedad_precio: {
                    required
                },
                hipoteca: {
                    required
                }
            }
        },
        mounted() {
            this.propiedad_tipo_id = this.formulario.propiedad_tipo_id
            if(this.propiedad_tipo_id == "1"){
                if(this.price_format( this.formulario.propiedad_precio ) == 'NaN'){
                    this.propiedad_precio = ""
                }else{
                    this.propiedad_precio = this.price_format( this.formulario.propiedad_precio )
                }
            }else{
                this.hipoteca = this.formulario.hipoteca
            }
            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
            this.habilitarBotonAceptar(this.v$.$invalid)
        },
        methods: {
            guardar: function(){
                this.$emit('deshabilitarAvanzar', false)
                this.habilitarBotonAceptar(this.v$.$invalid)
                if(this.propiedad_tipo_id == "1"){
                    this.$emit('guardarValor', 'propiedad_precio', this.propiedad_precio)
                }else{
                    this.$emit('guardarValor', 'hipoteca', this.hipoteca)
                }
            },
            conversionNew: function(){
                let temp = "";
                temp = this.propiedad_precio.replace(/\D/g,'').toString();
                // console.log("Formatted: "+ this.price_format(temp));
                // console.log("Value", parseFloat(temp))
                if(this.price_format(temp) == 'NaN'){
                    this.propiedad_precio = ''
                }else{
                    // this.propiedad_precio = this.price_format(parseFloat(temp/100))
                    // this.$emit('guardarValor', 'propiedad_precio', parseFloat(temp/100))
                    this.propiedad_precio = this.price_format(temp)
                    this.$emit('guardarValor', 'propiedad_precio', temp)
                }
            },
            keyMonitor: function(event){
                if(event.value == ''){
                    this.$emit('deshabilitarAvanzar')
                    this.habilitarBotonAceptar()
                }else{
                     this.conversionNew()
                    this.$emit('deshabilitarAvanzar', false)
                    this.habilitarBotonAceptar(false)
                }
            },
            price_format(price){
                // return new Intl.NumberFormat('es-MX', {
                //     minimumFractionDigits: 2,
                //     maximumFractionDigits: 2,
                //     style: 'decimal'
                // }).format(price);

                return new Intl.NumberFormat().format(price);
            },
            siguiente: function(){
                if(!this.v$.$invalid){
                    this.$emit('avanzar')
                }
            },
            habilitarBotonAceptar: function(estado = true){
                this.deshabilitar = estado
            }
        }
    }

</script>
