<template>

    <div class="relative flex items-start justify-end w-full px-6 py-6 pt-10 overflow-y-hidden h-2/3 lg:py-0 lg:pt-0">

        <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly">
            <p class="py-4 text-2xl text-black font-montserrat-bold">{{ this.$trans('quest.q16') }}</p>
            <div class="flex flex-col items-start justify-start w-full lg:items-center lg:flex-row">
                <div class="py-2 lg:py-0"><input type="radio" class="mr-3 w-7 h-7" name="ocho" value="0" id="0" @change="guardar" v-model="num_estacionamientos"> <label for="0" class="mr-4 text-black cursor-pointer font-montserrat-semibold">{{ this.$trans('quest.none') }}</label></div>
                <div class="py-2 lg:py-0"><input type="radio" class="mr-3 lg:ml-8 w-7 h-7" name="ocho" value="1" id="1" @change="guardar" v-model="num_estacionamientos"> <label for="1" class="mr-4 text-black cursor-pointer font-montserrat-semibold">01</label></div>
                <div class="py-2 lg:py-0"><input type="radio" class="mr-3 lg:ml-8 w-7 h-7" name="ocho" value="2" id="2" @change="guardar" v-model="num_estacionamientos"> <label for="2" class="mr-4 text-black cursor-pointer font-montserrat-semibold">02</label></div>
                <div class="py-2 lg:py-0"><input type="radio" class="mr-3 lg:ml-8 w-7 h-7" name="ocho" value="3" id="3" @change="guardar" v-model="num_estacionamientos"> <label for="3" class="mr-4 text-black cursor-pointer font-montserrat-semibold">03+</label></div>
            </div>
            <div class="pt-2 font-montserrat-regular input-errors" v-for="error of v$.num_estacionamientos.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.required') }}</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.numeric') }}</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.email_valid') }}</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' + $trans('quest.chars') }}</div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.max + ' ' + $trans('quest.chars') }}</div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.max_val') + ' ' + error.$params.max }}</div>
            </div>

            <button class="py-1.5 mt-10 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{ this.$trans('quest.accept') }}</button>

        </div>

        <div class="w-0 lg:w-2/12"></div>

    </div>

</template>

<script>

    import useVuelidate from '@vuelidate/core'
    import { required } from '@vuelidate/validators'

    export default {
        props: ['formulario'],
        setup () {
            return { v$: useVuelidate() }
        },
        data() {
            return {
                num_estacionamientos: "",
                deshabilitar: true
            }
        },
        validations() {
            return {
                num_estacionamientos: {
                    required
                }
            }
        },
        mounted() {
            this.num_estacionamientos = this.formulario.num_estacionamientos
            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
            this.habilitarBotonAceptar(this.v$.$invalid)
        },
        methods: {
            guardar: function(){
                this.$emit('deshabilitarAvanzar', this.v$.$invalid)
                this.habilitarBotonAceptar(this.v$.$invalid)
                this.$emit('guardarValor', 'num_estacionamientos', parseInt(this.num_estacionamientos))
            },
            siguiente: function(){
                this.$emit('avanzar')
            },
            habilitarBotonAceptar: function(estado = true){
                this.deshabilitar = estado
            }
        }
    }

</script>
