<template>

    <div class="relative flex items-start justify-end w-full px-6 py-6 pt-20 overflow-y-hidden h-2/3 lg:py-0 lg:pt-0">

        <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly">
            <p class="py-4 text-2xl text-black font-montserrat-bold">{{ this.$trans('quest.q10c') }}</p>
            <div class="flex items-center justify-start w-full">
                <input type="radio" class="mr-3 w-7 h-7" name="ocho" value="1" id="1" @change="guardar" v-model="num_niveles_casa"> <label for="1" class="mr-4 text-black cursor-pointer font-montserrat-semibold">01</label>
                <input type="radio" class="ml-8 mr-3 w-7 h-7" name="ocho" value="2" id="2" @change="guardar" v-model="num_niveles_casa"> <label for="2" class="mr-4 text-black cursor-pointer font-montserrat-semibold">02</label>
                <input type="radio" class="ml-8 mr-3 w-7 h-7" name="ocho" value="3" id="3" @change="guardar" v-model="num_niveles_casa"> <label for="3" class="mr-4 text-black cursor-pointer font-montserrat-semibold">03</label>
            </div>
            <div class="pt-2 input-errors" v-for="error of v$.num_niveles_casa.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.email_valid') }}</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' + $trans('quest.chars') }}</div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_chars') + ' ' + error.$params.max + ' ' + $trans('quest.chars') }}</div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.max_val') + ' ' + error.$params.max }}</div>
            </div>

            <button class="py-1.5 mt-10 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">Aceptar</button>

        </div>

        <!-- <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly" v-if="propiedad_tipo_id == '2'">
            <p class="text-black font-montserrat-semibold">Vamos muy bien.</p>
            <p class="py-2 text-2xl text-black font-montserrat-bold">8/ ¿Cuánto mide tu Departamento?  *</p>
            <p class="pb-2 text-black font-semibolditalic">Ingresa el área habitable en metros cuadrados. Si no lo sabes, danos un aproximado. Por ejemplo: 180</p>
            <input type="number" pattern="[0-9]*" placeholder="Escribe tu respuesta" class="w-full text-black font-montserrat-semibold lg:mt-0" @input="guardar" v-model="superficie_habitable" v-on:keyup="keyMonitor">
            <div class="pt-2 input-errors" v-for="error of v$.superficie_habitable.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >Este campo es requerido</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >Este campo es de tipo numérico</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >Ingresa un email valido</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >Este campo debe tener al menos {{ error.$params.min }} caracteres</div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >Este campo debe tener al menos {{ error.$params.max }} caracteres</div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >Este campo debe tener un valor minimo de {{ error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >Este campo debe tener un valor maximo de {{ error.$params.max }}</div>
            </div>

            <button class="py-1.5 mt-2 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">Aceptar</button>

        </div> -->

        <div class="w-0 lg:w-2/12"></div>

    </div>

</template>

<script>

    import useVuelidate from '@vuelidate/core'
    import { required, numeric, minValue, minLength } from '@vuelidate/validators'

    export default {
        props: ['formulario'],
        setup () {
            return { v$: useVuelidate() }
        },
        data() {
            return {
                propiedad_tipo_id: "",
                num_niveles_casa: "1",
                deshabilitar: true
            }
        },
        validations() {
            return {
                num_niveles_casa: {
                    required
                }
            }
        },
        mounted() {
            this.propiedad_tipo_id = this.formulario.propiedad_tipo_id
            this.num_niveles_casa = this.formulario.num_niveles_casa
            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
            this.habilitarBotonAceptar(this.v$.$invalid)
        },
        methods: {
            guardar: function(){
                this.$emit('deshabilitarAvanzar', this.num_niveles_casa == '')
                this.habilitarBotonAceptar(this.v$.$invalid)
                this.$emit('guardarValor', 'num_niveles_casa', this.num_niveles_casa)
            },
            keyMonitor: function(event){
                this.$emit('deshabilitarAvanzar', this.v$.$invalid)
                this.habilitarBotonAceptar(this.v$.$invalid)
            },
            siguiente: function(){
                if(!this.v$.$invalid){
                    this.$emit('avanzar')
                }
            },
            habilitarBotonAceptar: function(estado = true){
                this.deshabilitar = estado
            }
        }
    }

</script>
