<template>

    <div class="relative flex items-start justify-end w-full h-auto px-6 py-6 pt-20 lg:py-0 lg:pt-0">

        <div class="relative flex flex-col items-start justify-center w-full h-auto pb-2 lg:w-5/12">
            <p class="relative text-2xl text-black font-montserrat-bold lg:-top-10" v-if="propiedad_tipo_id == '1'">{{ this.$trans('quest.q12c') }} <span class="text-sm text-azul-vinte-texto"></span></p>
            <p class="relative text-2xl text-black font-montserrat-bold lg:-top-10" v-if="propiedad_tipo_id == '2'">{{ this.$trans('quest.q12d') }} <span class="text-sm text-azul-vinte-texto"></span></p>
            <div class="relative flex flex-col items-start w-full h-auto py-0 justify-evenly">

                <div class="py-1" v-for="equipoImueble in listaEquipos" :key="equipoImueble.id">
                    <input type="checkbox" class="mr-3 w-7 h-7" :id="equipoImueble.id" :name="equipoImueble.nombre" v-model="equipo[equipoImueble.id]" :value="equipoImueble.id"  @change="verificarEquipo">
                    <label :for="equipoImueble.id" class="mr-4 text-xs text-black cursor-pointer font-montserrat-semibold lg:text-base">{{ equipoImueble.nombre }}</label>
                </div>

            </div>

            <button class="py-1.5 mt-4 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{ this.$trans('quest.accept') }}</button>

        </div>

        <div class="w-0 lg:w-2/12"></div>

    </div>

</template>

<script>

    import axios from 'axios'

    export default {
        props: ['formulario'],
        data() {
            return {
                propiedad_tipo_id: "",
                equipo: {},
                listaEquipos: null,
                deshabilitar: true
            }
        },
        mounted(){
            this.propiedad_tipo_id = this.formulario.propiedad_tipo_id
            this.$emit('deshabilitarAvanzar', true)
            this.habilitarBotonAceptar(true)

            if(typeof(this.formulario.equipo) != 'undefined')
                this.equipo = this.formulario.equipo

            axios.get('/api/equipos')
                .then(response => (this.listaEquipos = response.data.data))

            console.log("respuesta - " + this.verificarEquipo())

        },
        watch: {
            equipo(equipo){

                for(var i in equipo) {
                    if( equipo[i] == false )
                        delete(equipo[ i ])
                }

                this.$emit('guardarValor', 'equipo', equipo)

                // if(this.verificarEquipo() == true){
                //     this.$emit('deshabilitarAvanzar', false)
                //     this.habilitarBotonAceptar(false)
                // }else{
                //     this.$emit('deshabilitarAvanzar', true)
                //     this.habilitarBotonAceptar(true)
                // }

            }
        },
        methods: {
            check : function(e){
                if (e.target.checked) {
                    this.equipo = e.target;
                    console.log("checked")
                }else{

                    console.log("deschecked")
                }
            },
            siguiente: function(){
                this.$emit('avanzar')
            },
            habilitarBotonAceptar: function(estado = true){
                this.deshabilitar = estado
            },
            verificarEquipo: function(){
                console.log("entro")
                for(var i in this.equipo){
                    if(this.equipo[i] == true){
                        this.$emit('deshabilitarAvanzar', false)
                        this.habilitarBotonAceptar(false)
                    }else{
                        this.$emit('deshabilitarAvanzar', true)
                        this.habilitarBotonAceptar(true)
                    }
                }
            }
        }
    }
</script>
