<template>

    <div style="height: calc(100% - 240px)" class="flex flex-col items-center justify-start w-full pt-14 lg:pt-20 h:90">

        <div class="relative w-10/12 h-auto lg:w-1/3">
            <div class="flex items-start justify-center pb-10">
                <img class="w-4 pt-1" src="/assets/images/svg/check-verde.svg" alt="xante">
                <p class="pl-2 text-lg text-justify font-poppins-semibold text-morado-xante">{{ this.$trans('quest.dos') }}</p>
            </div>

            <div class="flex flex-col items-start justify-center w-full pb-4">
                <p class="pl-3 text-justify font-poppins-light text-morado-xante">{{ this.$trans('quest.dos_instruc') }}</p>
                <input v-model="calle" type="text" :placeholder="this.$trans('quest.dos_instruc')" class="w-full bg-gray-300 border-transparent rounded-lg outline-none focus:border-verde-landing focus:border-4 font-poppins-light focus:ring-offset-0 focus:ring-0 focus:outline-none">

                <div class="pt-2 input-errors" v-for="error of v$.calle.$silentErrors" :key="error.$uid">
                    <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                    <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                    <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.email_valid') }}</div>
                    <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.digits') }}</div>
                    <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                    <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.digits') }}</div>
                    <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                </div>

            </div>

            <div class="flex flex-col items-start justify-center w-full">
                <p class="pl-3 text-justify font-poppins-light text-morado-xante">{{ this.$trans('quest.dos_num_ext') }}</p>
                <input v-model="num_ext" type="text" :placeholder="this.$trans('quest.dos_num_ext')" class="w-full bg-gray-300 border-transparent rounded-lg outline-none focus:border-verde-landing focus:border-4 font-poppins-light focus:ring-offset-0 focus:ring-0 focus:outline-none">

                <div class="pt-2 input-errors" v-for="error of v$.num_ext.$silentErrors" :key="error.$uid">
                    <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                    <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                    <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.email_valid') }}</div>
                    <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.digits') }}</div>
                    <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                    <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.digits') }}</div>
                    <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                </div>

            </div>



            <div class="relative flex items-center justify-center w-full pt-10 lg:hidden">
                <div class="relative flex justify-center h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer w-28 button-gradient font-poppins-bold" v-on:click="siguiente()">{{ this.$trans('quest.siguiente') }}</div>
            </div>
            <div class="relative flex items-center justify-center w-full pt-10 lg:hidden">
                <div class="relative flex justify-center h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer w-28 button-gradient font-poppins-bold" v-on:click="retroceder()">Anterior</div>
            </div>

        </div>
    <div class="relative top-96 w-full pt-52">
        <div class="absolute z-20 justify-center hidden h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer lg:flex bottom-28 left-4 w-28 button-gradient font-poppins-bold hover:shadow-lg hover:scale-110" v-on:click="retroceder()">Anterior</div>

        <div class="absolute z-20 justify-center hidden h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer lg:flex bottom-28 right-4 w-28 button-gradient font-poppins-bold hover:shadow-lg hover:scale-110" v-on:click="siguiente()">{{ this.$trans('quest.siguiente') }}</div>

    </div>

    </div>

</template>

<script>

    import useVuelidate from '@vuelidate/core'
    import { required, minLength, maxLength } from '@vuelidate/validators'

    export default {
        props: ['formulario'],
        setup () {
            return { v$: useVuelidate() }
        },
        data() {
            return {
                buscar: null,
                calle: null,
                num_ext: null
            }
        },
        validations() {
            return {
                calle: {
                    required,
                    minLength: minLength(2),
                    maxLength: maxLength(40)
                },
                num_ext: {
                    required,
                    minLength: minLength(1),
                    maxLength: maxLength(20)
                }
            }
        },
        mounted() {


            console.log('propiedad_tipo_id: ', this.formulario.propiedad_tipo_id)
            this.calle = this.formulario.street
            this.num_ext = this.formulario.num_ext
            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
            // this.habilitarBotonAceptar(this.v$.$invalid)
            if(this.calle != "" && this.num_ext!= "" ){
                this.$emit('deshabilitarAvanzar', false)
            }
        },
        methods:{
            retroceder: function(){
                this.$emit('retrocederBtn')
            },
            siguiente: function(){

                if(!this.v$.$invalid){
                    if(localStorage.getItem('respuesta1') != '999'){
                        this.$emit('guardarValor', 'desarrollo_id', localStorage.getItem('respuesta1'))
                    }else{
                        this.$emit('guardarValor', 'desarrollo_id', '999')
                    }
                    this.$emit('guardarValor', 'street', this.calle)
                    this.$emit('guardarValor', 'num_ext', this.num_ext)

                    if(this.formulario.google_direction != undefined){
                        console.log('existe direccion de google')
                    }else{
                        console.log('no existe direccion de google')
                        this.$emit('guardarValor', 'google_direction', null)
                    }
                    this.$emit('avanzar')
                    // this.$emit('avanzarBtn')
                }

            },
            // habilitarBotonAceptar: function(estado = true){
            //     this.deshabilitar = estado
            // },

        }
    }

</script>
