<template>

    <div class="relative flex items-start justify-end w-full px-6 py-6 pt-20 overflow-y-hidden h-2/3 lg:py-0 lg:pt-0">

        <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly">
            <p class="py-2 text-2xl text-black font-montserrat-bold">{{ this.$trans('quest.q2') }}</p>
            <input type="number" pattern="[0-9]*" placeholder="Ej. 05349" class="w-full text-black border-0 border-b-2 font-montserrat-semibold" @input="guardar" v-model="codigo_postal" v-on:keyup="keyMonitor">
            <p v-if="error_estado" class="pt-2 text-azul-vinte-texto error-msg font-montserrat-regular">{{ this.$trans('quest.postal_code') }}</p>
            <div class="pt-2 input-errors" v-for="error of v$.codigo_postal.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.email_valid') }}</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.digits') }}</div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.digits') }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
            </div>

            <button class="py-1.5 mt-10 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{ this.$trans('quest.accept') }}</button>

        </div>

        <div class="w-0 lg:w-2/12"></div>

    </div>

</template>

<script>

    import axios from 'axios'
    import useVuelidate from '@vuelidate/core'
    import { required, numeric, minLength, maxLength } from '@vuelidate/validators'

    export default {
        props: ['formulario'],
        setup () {
            return { v$: useVuelidate() }
        },
        data() {
            return {
                propiedad_tipo_id: "",
                codigo_postal: 10000,
                deshabilitar: true,
                cp: null,
                error_estado: false
            }
        },
        validations() {
            return {
                codigo_postal: {
                    required,
                    numeric,
                    minLength: minLength(5),
                    maxLength: maxLength(5)
                }
            }
        },
        mounted() {
            this.propiedad_tipo_id = this.formulario.propiedad_tipo_id
            this.codigo_postal = this.formulario.codigo_postal
            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
            this.habilitarBotonAceptar(this.v$.$invalid)
        },
        methods: {
            guardar: function(tipo){
                this.$emit('guardarValor', 'codigo_postal', this.codigo_postal)
            },
            keyMonitor: function(event){
                this.cp = this.codigo_postal.split("")
                let res
                if(this.cp.length == 5){
                    this.verificarCpEstado().then((res) =>{
                        // console.log(res.data)
                        if(res.data.data == 1){
                            this.error_estado = false
                            this.$emit('guardarValor', 'cp_estado_existe', 1)
                            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
                            this.habilitarBotonAceptar(this.v$.$invalid)
                        }else{
                            // this.error_estado = true
                            // this.$emit('deshabilitarAvanzar', true)
                            // this.habilitarBotonAceptar(true)

                            this.$emit('guardarValor', 'cp_estado_existe', 0)
                            this.error_estado = true
                            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
                            this.habilitarBotonAceptar(this.v$.$invalid)
                        }
                    })
                }else{
                    this.$emit('deshabilitarAvanzar', this.v$.$invalid)
                    this.habilitarBotonAceptar(this.v$.$invalid)
                }

            },
            siguiente: function(){
                this.$emit('avanzar')
            },
            habilitarBotonAceptar: function(estado = true){
                this.deshabilitar = estado
            },
            verificarCpEstado: async function(){

                const formData = {
                    'cp': this.codigo_postal,
                    'estado': this.formulario.estado_id
                };

                let resultado

                await axios.post(
                    '/api/propiedades/verificarcp',
                    formData
                ).then(function(res) {
                    resultado = res
                }).catch(error => {
                    resultado = error
                    console.log("error ", error.data);
                })

                return resultado

            }
        }
    }

</script>
