<template>
    <div class="relative flex flex-col justify-between w-full h-auto bg-black lg:h-28 lg:flex-row">

        <div class="flex flex-col items-center justify-center w-full py-10 lg:py-0 lg:w-1/2 lg:flex-row lg:justify-evenly">

            <div class="flex flex-col items-center justify-center py-2 lg:items-start lg:py-0">
                <p class="text-verde-landing font-montserrat-bold">{{ this.$trans('quest.ayuda') }}</p>
                <p class="text-white font-montserrat-regular">{{ this.$trans('quest.preguntasfrecuentes') }}</p>
            </div>

            <div class="flex flex-col items-center justify-center py-2 lg:items-start lg:py-0">
                <p class="text-verde-landing font-montserrat-bold">{{ this.$trans('quest.contacto') }}</p>
                <p class="text-white font-montserrat-regular">contacto@xante.mx</p>
            </div>

            <div class="flex flex-col items-center justify-center py-2 lg:items-start lg:py-0">
                <p class="text-verde-landing font-montserrat-bold">{{ this.$trans('quest.legal') }}</p>
                <p class="text-white font-montserrat-regular">{{ this.$trans('quest.politicas') }}</p>
            </div>

        </div>

        <div class="flex items-center justify-center py-6 pl-10 pr-10 lg:py-0">
            <p class="text-white font-montserrat-regular">{{ this.$trans('quest.developer') }} MOMENTUM & <a target="_blank" href="https://inkwonders.com">INK</a></p>
        </div>

    </div>
</template>
