<template>

    <div>

        <div class="relative flex flex-col items-center justify-center w-full h-auto pt-8 mb-4 lg:h-auto lg:pt-0">

            <div class="relative flex flex-col items-center justify-center h-auto pb-10 lg:justify-evenly lg:h-auto">

                <div class="relative flex flex-col items-center h-auto justify-evenly">

                    <img class="w-2/12 lg:w-14 xl:w-20" src="/assets/images/version2/svg/llave.png" alt="Xante.mx">

                    <div class="relative flex flex-col items-center justify-center w-10/12 pt-6 lg:pt-0">
                        <p class="text-lg text-center text-black lg:text-2xl font-montserrat-bold">{{ this.$trans('quest.success_h') }}</p>
                        <p class="text-3xl text-azul-footer_index lg:text-5xl font-montserrat-bold" >{{ this.$trans('quest.success') }}</p>
                    </div>

                    <div class="w-4/5 h-2 pt-2 border-b-4 bg-morado-xante"></div>

                    <p class="px-8 pt-2 text-lg text-center text-black lg:pt-4 lg:px-0 lg:text-2xl font-montserrat-bold">{{ this.$trans('quest.more') }}</p>
                    <button @click="$emit('nuevo')" class="relative p-3 mt-4 text-white border-4 border-white shadow-lg font-montserrat-bold lg:top-10 rounded-2xl bg-verde-boton hover:shadow-xl lg:mt-0">{{ this.$trans('quest.new') }}</button>

                </div>

            </div>

        </div>

    </div>

</template>

<script>

    export default {
        data() {
            return {

            }
        },
        mounted() {

        },
        methods: {
            nuevo: function(){
                this.$emit('nuevo')
            }
        }
    }

</script>

