<template>
    <div class="w-full h-screen">
        <div class="relative z-30 flex items-center justify-center w-full h-8 text-sm text-center text-white"
            style="background-color: #60338a">

            <a target="_blank" href="https://wa.link/om0mki" class="fixed w-16 h-16 top-10 right-2 ">

                <img src="/assets/images/png/whats.png" class="absolute h-full">

            </a>

        </div>
        <div class="relative flex flex-col items-center w-full h-auto p-8 justify-evenly lg:justify-center lg:h-32 lg:flex-row">

            <img v-on:click="irHome()" src="/assets/images/svg/vente_tucasa_dos.png" alt="xante" class="relative w-32 cursor-pointer lg:absolute top-4 lg:left-8">

            <div v-if="noSlide >= 2" class="relative items-center hidden w-full px-10 pt-10 md:px-20 lg:px-32 lg:flex lg:pt-0 lg:w-1/2 justify-evenly">
                <div class="h-4 rounded-lg lg:w-16 w-9 bg-verde-landing"></div>
                <div class="h-4 rounded-lg lg:w-16 w-9" :class="noSlide >= 3 ? 'bg-verde-landing' : 'bg-gray-300'"></div>
                <div class="h-4 rounded-lg lg:w-16 w-9" :class="noSlide >= 4 ? 'bg-verde-landing' : 'bg-gray-300'"></div>
                <div class="h-4 rounded-lg lg:w-16 w-9" :class="noSlide >= 5 ? 'bg-verde-landing' : 'bg-gray-300'"></div>
                <div class="h-4 rounded-lg lg:w-16 w-9" :class="noSlide >= 6 ? 'bg-verde-landing' : 'bg-gray-300'"></div>
                <div class="h-4 rounded-lg lg:w-16 w-9" :class="noSlide >= 7 ? 'bg-verde-landing' : 'bg-gray-300'"></div>
            </div>

            <!-- mobile -->
            <div v-if="noSlide >= 2" class="relative flex flex-row items-center justify-between w-full px-4 pt-10 md:hidden lg:hidden">
                <div class="h-3 rounded-lg lg:w-16 w-11 bg-verde-landing"></div>
                <div class="h-3 rounded-lg lg:w-16 w-11" :class="noSlide >= 3 ? 'bg-verde-landing' : 'bg-gray-300'"></div>
                <div class="h-3 rounded-lg lg:w-16 w-11" :class="noSlide >= 4 ? 'bg-verde-landing' : 'bg-gray-300'"></div>
                <div class="h-3 rounded-lg lg:w-16 w-11" :class="noSlide >= 5 ? 'bg-verde-landing' : 'bg-gray-300'"></div>
                <div class="h-3 rounded-lg lg:w-16 w-11" :class="noSlide >= 6 ? 'bg-verde-landing' : 'bg-gray-300'"></div>
                <div class="h-3 rounded-lg lg:w-16 w-11" :class="noSlide >= 7 ? 'bg-verde-landing' : 'bg-gray-300'"></div>
            </div>

        </div>

        <transition name="fade" mode="out-in" class="relative">

            <router-view @avanzar="avanzar"  @retrocederBtn="retrocederBtn" :ingresarDireccionManual="ingresarDireccionManual" @guardarValor="guardarValor" @deshabilitarAvanzar="deshabilitarAvanzar" :formulario="formulario "></router-view>

        </transition>

        <!-- <p v-if="noSlide < 8" class="relative h-6 pl-4 xl:left-32 2xl:left-32 l:left-32 text-gris-texto-claro font-montserrat-regular bottom-4">{{ this.$trans('quest.nota1') }}</p> -->
        <p v-if="noSlide < 8" class="flex pt-40 pl-4 h-72 xl:left-32 2xl:left-32 l:left-32 text-gris-texto-claro font-montserrat-regular bottom-4">{{ this.$trans('quest.nota1') }}</p>
        <div v-else class="flex items-center justify-center w-full lg:justify-start">
            <p class="relative w-10/12 h-6 pl-0 text-sm text-center lg:w-full lg:pl-4 text-gris-texto-claro font-montserrat-regular lg:bottom-20 bottom-44 lg:text-sm lg:text-left">
                {{ this.$trans('quest.nota2') }}
            </p>
        </div>

        <!-- <div class="flex justify-end w-28 lg:w-60" v-if="noSlide != '/8'">
                    <button id="last" v-on:click="retrocederBtn" class="flex items-center justify-center w-12 h-12 border rounded bg-azul-fondo hover:shadow-md hover:bg-azul-footer_index">

                        <div v-if="noSlide > 1" class="w-3 h-3 transform rotate-45 border-b-2 border-r-2 border-white -translate-y-1/4"></div>
                        <div v-else class="w-3 h-3 transform rotate-45 border-t-2 border-l-2 border-white translate-y-1/4"></div>
                    </button>

                    <button v-if="noSlide != 8" id="next" v-on:click="avanzarBtn" v-bind:class="{'cursor-not-allowed desactivados' : deshabilitarAvanzarClass}" class="flex items-center justify-center w-12 h-12 ml-2 border rounded bg-azul-fondo hover:shadow-md hover:bg-azul-footer_index">

                        <div v-if="deshabilitarAvanzarClass" class="w-3 h-3 transform rotate-45 border-t-2 border-l-2 border-black translate-y-1/4"></div>
                        <div v-else class="w-3 h-3 transform rotate-45 border-b-2 border-r-2 border-black -translate-y-1/4"></div>
                    </button>
                </div> -->




        <end></end>

    </div>
</template>

<script>

    import VueLang from '@eli5/vue-lang-js'
    import VueRouter from 'vue-router'
    import axios from 'axios'
    import translations from '../vue-translations.js';
    import VueAnalytics from 'vue-analytics';
    Vue.use(VueRouter, axios)

    var language

    const router = new VueRouter({
        routes: [
            { path: '/form',    component: require('./uno.vue').default,            name: 'form'     },
            { path: '/',        component: require('./uno.vue').default,            name: 'uno'     },
            { path: '/1',       component: require('./uno.vue').default,            name: '1'     },
            { path: '/2',       component: require('./dos.vue').default,            name: '2'     },
            { path: '/3',       component: require('./tres.vue').default,           name: '3'     },
            { path: '/4',       component: require('./cuatro.vue').default,         name: '4'     },
            { path: '/5',       component: require('./cinco.vue').default,          name: '5'     },
            { path: '/6',       component: require('./seis.vue').default,           name: '6'     },
            { path: '/7',       component: require('./siete.vue').default,          name: '7'     },
            { path: '/8',       component: require('./ocho.vue').default,        name: '8'     },
        ],
        mode: 'history',
    });

    export default {
        props:["lang"],
        router: router,
        data() {
            return {
                noSlide: 1,
                totalSlide: 8,
                deshabilitarAvanzarClass: true,
                respuesta1: null,
                ingresarDireccionManual: false,
                porcentaje: (this.noSlide * 100) / this.totalSlide,
            }
        },

        computed: {

            formulario: {
                get: function(){
                    console.log('get')
                    var formulario = JSON.parse(localStorage.getItem('formulario'))
                    if(formulario == null)
                        return {}

                    return formulario
                },

                set: function(){
                    console.log('set')
                    var formulario = JSON.parse(localStorage.getItem('formulario'))
                    if(formulario == null)
                        return {}

                    return formulario
                }
            }

        },

        mounted() {

            console.log('lanzo mounted')

            Vue.use(VueAnalytics, {
                id: 'UA-227859785-1',
                router
            });

            if(this.noSlide == 1){

                this.noSlide = (this.respuesta1 == '999' ? 1 : 2)

                if(this.respuesta1 === '999'){
                    this.ingresarDireccionManual = true
                }else{
                    this.ingresarDireccionManual = false
                }

            }

            this.abrirSlide(this.noSlide)
        },

        created(){

            console.log('lanzo created')

            this.respuesta1 = localStorage.getItem('respuesta1')
            this.noSlide = localStorage.getItem('noSlide')

            language = this.lang
            console.log('recibido: ',this.lang)
            console.log('Idioma: ',language)

            Vue.use(VueLang, {
                messages: translations, // Provide locale file
                locale: this.lang == "es" ? "es" : "en", // Set locale
                fallback: 'en' // Set fallback lacale
            });

        },

        methods:{

            guardarValor(which, what) {
                console.log('guardando valor')
                this.formulario[ which ] = what
                localStorage.setItem('formulario', JSON.stringify(this.formulario))
            },
            deshabilitarAvanzar(estado = true) {
                this.deshabilitarAvanzarClass = estado
            },
            book: function(){
                // document.querySelector(".marcador").setAttribute('style','width:'+this.porcentaje+'%')
            },

            abrirSlide(slide) {
                this.book()
                this.$router.replace({ name: slide }).catch(err => { console.log(err) }) ;
            },

            avanzar: function(){

                if(this.noSlide == 1){

                    console.log('posicion antes: ', this.noSlide)
                    this.noSlide = parseInt(this.noSlide) + 2
                    console.log('posicion: ', this.noSlide)
                    localStorage.setItem('noSlide', this.noSlide)
                    this.abrirSlide(this.noSlide)

                }else{

                    console.log('posicion antes: ', this.noSlide)
                    this.noSlide = parseInt(this.noSlide) + 1
                    console.log('posicion: ', this.noSlide)
                    localStorage.setItem('noSlide', this.noSlide)
                    this.abrirSlide(this.noSlide)

                }
            },

            // avanzarBtn: function(){
            //     console.log(this.noSlide)
            //     if(this.deshabilitarAvanzarClass == false) {
            //     if(this.noSlide == 1){

            //         console.log('posicion antes: ', this.noSlide)
            //         this.noSlide = parseInt(this.noSlide) + 1
            //         console.log('posicion: ', this.noSlide)
            //         localStorage.setItem('noSlide', this.noSlide)
            //         this.abrirSlide(this.noSlide)

            //     }

            //     if(this.noSlide == 2){

            //         console.log('posicion antes: ', this.noSlide)
            //         this.noSlide = parseInt(this.noSlide) + 1
            //         console.log('posicion: ', this.noSlide)
            //         localStorage.setItem('noSlide', this.noSlide)
            //         this.abrirSlide(this.noSlide)

            //         }
            //     if(this.noSlide == 3){

            //         console.log('posicion antes: ', this.noSlide)
            //         this.noSlide = parseInt(this.noSlide) + 1
            //         console.log('posicion: ', this.noSlide)
            //         localStorage.setItem('noSlide', this.noSlide)
            //         this.abrirSlide(this.noSlide)

            //         }
            //     if(this.noSlide == 4){

            //     console.log('posicion antes: ', this.noSlide)
            //     this.noSlide = parseInt(this.noSlide) + 1
            //     console.log('posicion: ', this.noSlide)
            //     localStorage.setItem('noSlide', this.noSlide)
            //     this.abrirSlide(this.noSlide)

            //     }
            //     if(this.noSlide == 5){

            //     console.log('posicion antes: ', this.noSlide)
            //     this.noSlide = parseInt(this.noSlide) + 1
            //     console.log('posicion: ', this.noSlide)
            //     localStorage.setItem('noSlide', this.noSlide)
            //     this.abrirSlide(this.noSlide)

            //     }
            //     if(this.noSlide == 6){

            //     console.log('posicion antes: ', this.noSlide)
            //     this.noSlide = parseInt(this.noSlide) + 1
            //     console.log('posicion: ', this.noSlide)
            //     localStorage.setItem('noSlide', this.noSlide)
            //     this.abrirSlide(this.noSlide)

            //     }
            //     if(this.noSlide == 7){

            //     console.log('posicion antes: ', this.noSlide)
            //     this.noSlide = parseInt(this.noSlide) + 1
            //     console.log('posicion: ', this.noSlide)
            //     localStorage.setItem('noSlide', this.noSlide)
            //     this.abrirSlide(this.noSlide)

            //     }
            // }

            //     // console.log('posicion antes: ', this.noSlide)
            //     // this.noSlide = parseInt(this.noSlide) + 1
            //     // console.log('posicion: ', this.noSlide)
            //     // localStorage.setItem('noSlide', this.noSlide)
            //     // this.abrirSlide(this.noSlide)
            // },
            retrocederBtn: function(){
                if(this.noSlide == 2){
                    if(this.formulario.google_direction != undefined == false){
                        console.log('posicion antes: ', this.noSlide)
                        window.location = '/'
                        console.log('posicion: ', this.noSlide)
                        localStorage.setItem('noSlide', this.noSlide)
                        this.abrirSlide(this.noSlide)
                    }else{
                    console.log('posicion antes: ', this.noSlide)
                    this.noSlide = parseInt(this.noSlide) - 1
                    console.log('posicion: ', this.noSlide)
                    localStorage.setItem('noSlide', this.noSlide)
                    this.abrirSlide(this.noSlide)
                    }

                    }
                    if(this.noSlide == 3){
                    if(this.formulario.google_direction != undefined == false){

                        console.log('posicion antes: ', this.noSlide)
                        this.noSlide = parseInt(this.noSlide) - 1
                        console.log('posicion: ', this.noSlide)
                        localStorage.setItem('noSlide', this.noSlide)
                        this.abrirSlide(this.noSlide)
                    }else{

                        console.log('posicion antes: ', this.noSlide)
                        this.noSlide = parseInt(this.noSlide) - 2
                        console.log('posicion: ', this.noSlide)
                        localStorage.setItem('noSlide', this.noSlide)
                        this.abrirSlide(this.noSlide)
                    }

                    }
                    if(this.noSlide == 4){

                    console.log('posicion antes: ', this.noSlide)
                    this.noSlide = parseInt(this.noSlide) - 1
                    console.log('posicion: ', this.noSlide)
                    localStorage.setItem('noSlide', this.noSlide)
                    this.abrirSlide(this.noSlide)

                    }
                    if(this.noSlide == 5){

                    console.log('posicion antes: ', this.noSlide)
                    this.noSlide = parseInt(this.noSlide) - 1
                    console.log('posicion: ', this.noSlide)
                    localStorage.setItem('noSlide', this.noSlide)
                    this.abrirSlide(this.noSlide)

                    }
                    if(this.noSlide == 6){

                    console.log('posicion antes: ', this.noSlide)
                    this.noSlide = parseInt(this.noSlide) - 1
                    console.log('posicion: ', this.noSlide)
                    localStorage.setItem('noSlide', this.noSlide)
                    this.abrirSlide(this.noSlide)

                    }
                    if(this.noSlide == 7){

                    console.log('posicion antes: ', this.noSlide)
                    this.noSlide = parseInt(this.noSlide) - 1
                    console.log('posicion: ', this.noSlide)
                    localStorage.setItem('noSlide', this.noSlide)
                    this.abrirSlide(this.noSlide)

                    }
            },


            irHome: function(){
                localStorage.setItem('formulario', null)
                this.formulario = null
                window.location = '/'
            }

        }
    }

</script>
