<template>

    <!-- <div class="relative bottom-0 flex items-center justify-between w-2/4 h-5 lg:w-3/4 lg:px-20">
        <p class="text-xs font-semibold lg:text-sm text-morado">* Las preguntas marcadas con un  asterisco son obligatorias</p>
    </div> -->

    <!-- <footer class="relative block w-full">
        <div class="flex w-full gap-2 bg-azul-footer_index font-montserrat-bold">
            <div class="flex flex-col items-center justify-center w-1/3 py-2 text-xs text-center">
                <p class="text-center text-black">
                    Ayuda
                </p>
                <p class="text-center text-white">
                    Preguntas frecuentes
                </p>
            </div>
            <div class="flex flex-col items-center justify-center w-1/3 py-2 text-xs text-center">
                <p class="text-center text-black">
                    Contacto
                </p>
                <a href="mailto:contacto@xante.mx" class="text-center text-white">
                    contacto@xante.mx
                </a>
            </div>
            <div class="flex flex-col items-center justify-center w-1/3 py-2 text-xs text-center">
                <p class="text-center text-black">
                    Legal
                </p>
                <p class="text-center text-white">
                    Políticas de privacidad
                </p>
            </div>
        </div>
        <div class="flex justify-center w-full p-2 text-xs text-center font-montserrat-regular">
            <span class="text-gray-500"><a class="text-black" href="https://inkwonders.com" target="_blank"
                    title="INK WONDERS"> Desarrollado por MOMENTUM & INK </a></span>
        </div>
    </footer> -->

    <footer class="relative block w-full">
        <div class="flex w-full gap-2 -footer_index font-montserrat-bold bg-morado-xante" >
            <div class="flex flex-col items-center justify-center w-1/3 py-2 text-center text-xxs md:text-xs">
                <p class="text-center text-black">
                    {{ this.$trans('landing.help') }}
                </p>
                <a class="text-center text-white" href="/faqs" target="_blank">
                    {{ this.$trans('landing.faq') }}
                </a>
            </div>
            <div class="flex flex-col items-center justify-center w-1/3 py-2 text-center text-xxs md:text-xs">
                <p class="text-center text-black">
                    {{ this.$trans('landing.contact') }}
                </p>
                <a href="mailto:contacto@xante.mx" class="text-center text-white">
                    contacto@xante.mx
                </a>
            </div>
            <div class="flex flex-col items-center justify-center w-1/3 py-2 text-center text-xxs md:text-xs">
                <p class="text-center text-black">
                    Legal
                </p>
                <a class="text-center text-white" href="/assets/pdf/AvisodePrivacidadXante.pdf" target="_blank">
                    {{ this.$trans('landing.policy') }}
                </a>
            </div>
        </div>
        <div class="flex justify-center w-full p-2 text-xs text-center font-montserrat-regular bg-morado-xante lg:bg-transparent" >
            <span class="text-black md:text-gray-500"><a class="text-black" title="MOMENTUM"> {{ this.$trans('landing.dev') }} </a></span>
        </div>
    </footer>

</template>

<script>

export default{
    data() {
        return {

        }
    },
}

</script>

