<template>

    <div class="relative flex items-start justify-end w-full px-6 py-6 pt-20 overflow-y-hidden h-2/3 lg:py-0 lg:pt-0">

        <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly">

            <p class="text-black font-montserrat-semibold">Vamos muy bien.</p>
            <p class="py-2 text-2xl text-black font-montserrat-bold" v-if="propiedad_tipo_id == '1'">{{ this.$trans('quest.q9c') }}</p>
            <p class="py-2 text-2xl text-black font-montserrat-bold" v-if="propiedad_tipo_id == '2'">{{ this.$trans('quest.q9d') }}</p>
            <p class="pb-2 text-black font-semibolditalic">{{ this.$trans('quest.area_property') }}</p>
            <input type="number" pattern="[0-9]*" :placeholder="this.$trans('quest.enter_answer')" class="w-full mt-4 text-black border-0 border-b-2 font-montserrat-semibold lg:mt-0" @input="guardar" v-model="superficie_habitable" v-on:keyup="keyMonitor">
            <div class="pt-2 input-errors" v-for="error of v$.superficie_habitable.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.email_valid') }}</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' +  $trans('quest.chars') }}</div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_chars') + ' ' + error.$params.max + ' ' +  $trans('quest.chars') }}</div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.max_val') + ' ' + error.$params.max }}</div>
            </div>

            <button class="py-1.5 mt-10 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{ this.$trans('quest.accept') }}</button>

        </div>

        <!-- <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly" v-if="propiedad_tipo_id == '2'">
            <p class="text-black font-montserrat-semibold">Vamos muy bien.</p>
            <p class="py-2 text-2xl text-black font-montserrat-bold">8/ ¿Cuánto mide tu Departamento?  *</p>
            <p class="pb-2 text-black font-semibolditalic">Ingresa el área habitable en metros cuadrados. Si no lo sabes, danos un aproximado. Por ejemplo: 180</p>
            <input type="number" pattern="[0-9]*" placeholder="Escribe tu respuesta" class="w-full mt-4 text-black border-0 border-b-2 font-montserrat-semibold lg:mt-0" @input="guardar" v-model="superficie_habitable" v-on:keyup="keyMonitor">
            <div class="pt-2 input-errors" v-for="error of v$.superficie_habitable.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >Este campo es requerido</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >Este campo es de tipo numérico</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >Ingresa un email valido</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >Este campo debe tener al menos {{ error.$params.min }} caracteres</div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >Este campo debe tener al menos {{ error.$params.max }} caracteres</div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >Este campo debe tener un valor minimo de {{ error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >Este campo debe tener un valor maximo de {{ error.$params.max }}</div>
            </div>

            <button class="py-1.5 mt-2 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">Aceptar</button>

        </div> -->

        <div class="w-0 lg:w-2/12"></div>

    </div>

</template>

<script>

    import useVuelidate from '@vuelidate/core'
    import { required, numeric, minLength, maxLength } from '@vuelidate/validators'

    export default {
        props: ['formulario'],
        setup () {
            return { v$: useVuelidate() }
        },
        data() {
            return {
                propiedad_tipo_id: "",
                superficie_habitable: 50,
                deshabilitar: true
            }
        },
        validations() {
            return {
                superficie_habitable: {
                    required,
                    numeric,
                    minLength : minLength(1)
                }
            }
        },
        mounted() {
            this.propiedad_tipo_id = this.formulario.propiedad_tipo_id
            this.superficie_habitable = this.formulario.superficie_habitable
            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
            this.habilitarBotonAceptar(this.v$.$invalid)
        },
        methods: {
            guardar: function(tipo){
                this.$emit('guardarValor', 'superficie_habitable', this.superficie_habitable)
            },
            keyMonitor: function(event){
                this.$emit('deshabilitarAvanzar', this.v$.$invalid)
                this.habilitarBotonAceptar(this.v$.$invalid)
            },
            siguiente: function(){
                this.$emit('avanzar')
            },
            habilitarBotonAceptar: function(estado = true){
                this.deshabilitar = estado
            }
        }
    }

</script>
