<template>

    <div class="relative flex items-start justify-end w-full px-6 py-6 pt-20 overflow-y-hidden h-2/3 lg:py-0 lg:pt-0">

        <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly" v-if="cp_estado_existe == 1">

            <p class="py-2 text-2xl text-black font-montserrat-bold">{{ this.$trans('quest.q8c') }}</p>
            <select class="w-full text-black border-0 border-b-2 font-montserrat-semibold" @change="guardar" v-model="colonia_id">
                <option value="">{{ this.$trans('quest.select_col') }}</option>
                <option v-for="colonia in coloniasList" :value="colonia.id" :key="colonia.id">{{ colonia.nombre}}</option>
            </select>

            <div class="pt-2 text-sm input-errors font-montserrat-regular" v-for="error of v$.colonia_id.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.required')}}</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.numeric') }}</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.email_valid') }}</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' + $trans('quest.chars')  }}</div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.max + ' ' + $trans('quest.chars')  }}</div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.min_val') + ' ' + error.$params.max }}</div>
            </div>

            <button class="py-1.5 mt-10 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{ $trans('quest.accept') }}</button>

        </div>

        <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly" v-else>

            <p class="py-2 text-2xl text-black font-montserrat-bold">{{ this.$trans('quest.q8') }}</p>

            <input type="text" :placeholder="this.$trans('quest.enter_answer')" class="w-full text-black border-0 border-b-2 font-montserrat-semibold" @change="guardar" v-model="nombre_colonia" v-on:keyup="keyMonitor">

            <div class="pt-2 text-sm input-errors font-montserrat-regular" v-for="error of v$.nombre_colonia.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.required')}}</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.numeric') }}</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.email_valid') }}</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' + $trans('quest.chars')  }}</div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.max + ' ' + $trans('quest.chars')  }}</div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.min_val') + ' ' + error.$params.max }}</div>
            </div>

            <button class="py-1.5 mt-10 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{ $trans('quest.accept') }}</button>

        </div>

        <div class="w-0 lg:w-2/12"></div>

    </div>

</template>

<script>

    import axios from 'axios'
    import useVuelidate from '@vuelidate/core'
    import { required, numeric, minLength, maxLength } from '@vuelidate/validators'

    export default {
        props: ['formulario'],
        setup () {
            return { v$: useVuelidate() }
        },
        data() {
            return {
                propiedad_tipo_id: "",
                colonia_id: null,
                deshabilitar: true,
                coloniasList: null,
                cp_estado_existe: null,
                nombre_colonia: ''
            }
        },
        validations() {

            if(this.cp_estado_existe == 0){
                console.log("entro 1")
                return {
                    nombre_colonia: {
                        required
                    }
                }
            }else{
                console.log("entro 2")
                return {
                    colonia_id: {
                        required
                    }
                }
            }

        },
        mounted() {
            this.cp_estado_existe = this.formulario.cp_estado_existe
            this.propiedad_tipo_id = this.formulario.propiedad_tipo_id

            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
            this.habilitarBotonAceptar(this.v$.$invalid)

            if(this.propiedad_tipo_id == 1){

                if(this.cp_estado_existe == 0){

                    this.nombre_colonia = this.formulario.nombre_colonia
                    this.$emit('deshabilitarAvanzar', false)
                    this.habilitarBotonAceptar(false)

                }else{

                    this.colonia_id = this.formulario.colonia_id

                    let formData = {
                        'cp': this.formulario.codigo_postal
                    }
                    axios.post('/api/colonias', formData)
                        .then(response => (this.coloniasList = response.data.data))
                }

            }else{

                if(this.cp_estado_existe == 0){

                    this.nombre_colonia = this.formulario.nombre_colonia
                    this.$emit('deshabilitarAvanzar', false)
                    this.habilitarBotonAceptar(false)

                }else{

                    this.colonia_id = this.formulario.colonia_id

                    let formData = {
                        'cp': this.formulario.codigo_postal
                    }
                    axios.post('/api/colonias', formData)
                        .then(response => (this.coloniasList = response.data.data))
                }

            }



            // let formData = {
            //     'cp': this.formulario.codigo_postal
            // }
            // axios.post('/api/colonias', formData)
            //     .then(response => (this.coloniasList = response.data.data))
        },
        methods: {
            guardar: function(tipo){
                this.$emit('deshabilitarAvanzar', this.v$.$invalid)
                this.habilitarBotonAceptar(this.v$.$invalid)

                if(this.cp_estado_existe == 0){
                    this.$emit('guardarValor', 'nombre_colonia', this.nombre_colonia)
                }else{
                    this.$emit('guardarValor', 'colonia_id', this.colonia_id)
                }

            },
            keyMonitor: function(event){
                this.$emit('deshabilitarAvanzar', this.v$.$invalid)
                this.habilitarBotonAceptar(this.v$.$invalid)
            },
            siguiente: function(){
                this.$emit('avanzar')
            },
            habilitarBotonAceptar: function(estado = true){
                this.deshabilitar = estado
            }
        }
    }

</script>
