<template>
    <div class="flex flex-col items-center justify-start w-full h-auto pt-10 lg:h-tres">

        <p class="text-2xl text-center text-justify font-poppins-semibold text-morado-xante">{{ this.$trans('quest.ocho') }}</p>

        <div class="flex flex-col items-center justify-center w-full h-auto px-10 lg:hidden pb-72">

            <div class="flex flex-col items-center justify-center">
                <img class="w-16" src="/assets/images/svg/1.svg" alt="paso 1">
                <p class="text-xl text-justify underline font-poppins-bold text-morado-xante text">{{ this.$trans('quest.ocho_uno') }}</p>
                <p class="pt-2 text-base text-center text-justify text-gray-400 font-poppins-regular">{{ this.$trans('quest.ocho_uno_sub') }}</p>
            </div>

            <div class="w-1 h-24 mt-6 bg-verde-landing"></div>

            <div class="flex flex-col items-center justify-center">
                <img class="w-16" src="/assets/images/svg/2.svg" alt="paso 2">
                <p class="text-xl text-justify font-poppins-bold text-morado-xante text">{{ this.$trans('quest.ocho_dos') }}</p>
                <p class="pt-2 text-base text-center text-justify text-gray-400 font-poppins-regular">{{ this.$trans('quest.ocho_dos_sub') }}</p>
            </div>

            <div class="w-1 h-24 mt-6 bg-verde-landing"></div>

            <div class="flex flex-col items-center justify-center">
                <img class="w-16" src="/assets/images/svg/3.svg" alt="paso 3">
                <p class="text-xl text-justify font-poppins-bold text-morado-xante text">{{ this.$trans('quest.ocho_tres') }}</p>
                <p class="pt-2 text-base text-center text-justify text-gray-400 font-poppins-regular">{{ this.$trans('quest.ocho_tres_sub') }}</p>
            </div>

            <div class="w-1 h-24 mt-6 bg-verde-landing"></div>

            <div class="flex flex-col items-center justify-center">
                <img class="w-16" src="/assets/images/svg/4.svg" alt="paso 4">
                <p class="text-xl text-justify font-poppins-bold text-morado-xante text">{{ this.$trans('quest.ocho_cuatro') }}</p>
                <p class="pt-2 text-base text-center text-justify text-gray-400 font-poppins-regular">{{ this.$trans('quest.ocho_cuatro_sub') }}</p>
            </div>

        </div>

        <div class="relative items-center justify-center hidden w-full h-auto px-40 pt-40 lg:flex lg:flex-row">
            <div class="flex flex-col items-center justify-center">
                <img class="w-20" src="/assets/images/svg/1.svg" alt="paso 1">
                <p class="text-xl text-justify underline font-poppins-bold text-morado-xante ">{{ this.$trans('quest.ocho_uno') }}</p>
                <p class="pt-2 text-base text-center text-justify text-gray-400 font-poppins-regular">{{ this.$trans('quest.ocho_uno_sub') }}</p>
            </div>
            <div class="w-1/12 h-1 mb-20 bg-verde-landing"></div>
            <div class="flex flex-col items-center justify-center">
                <img class="w-20" src="/assets/images/svg/2.svg" alt="paso 2">
                <p class="text-xl text-justify font-poppins-bold text-morado-xante text">{{ this.$trans('quest.ocho_dos') }}</p>
                <p class="pt-2 text-base text-center text-justify text-gray-400 font-poppins-regular">{{ this.$trans('quest.ocho_dos_sub') }}</p>
            </div>
            <div class="w-1/12 h-1 mb-20 bg-verde-landing"></div>
            <div class="flex flex-col items-center justify-center">
                <img class="w-20" src="/assets/images/svg/3.svg" alt="paso 3">
                <p class="text-xl text-justify font-poppins-bold text-morado-xante text">{{ this.$trans('quest.ocho_tres') }}</p>
                <p class="pt-2 text-base text-center text-justify text-gray-400 font-poppins-regular">{{ this.$trans('quest.ocho_tres_sub') }}</p>
            </div>
            <div class="w-1/12 h-1 mb-20 bg-verde-landing"></div>
            <div class="flex flex-col items-center justify-center">
                <img class="w-20" src="/assets/images/svg/4.svg" alt="paso 4">
                <p class="text-xl text-justify font-poppins-bold text-morado-xante text">{{ this.$trans('quest.ocho_cuatro') }}</p>
                <p class="pt-2 text-base text-center text-justify text-gray-400 font-poppins-regular">{{ this.$trans('quest.ocho_cuatro_sub') }}</p>
            </div>
        </div>

    </div>
</template>

<script>

    export default {
        props: ['formulario'],
        data: {

        },
        mounted() {
            this.enviar()
        },
        methods:{
            enviar: async function(){

                await fetch('/api/propiedades/guardar', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        'text': this.formulario
                    })
                }
                ).then((res) => {
                    return res.json()
                }).then((res) => {

                    if(res.success){

                        if(res.data.predictions.length > 0){
                            this.lista = res.data.predictions
                        }else{
                            this.lista = []
                            list = ''
                        }

                    }else{
                        console.log('error')
                    }

                })
                .catch(error => {
                    console.log(error)
                })

            }
        }
    }

</script>
