<template>

    <div class="flex flex-col items-center justify-between min-h-screen lg:overflow-y-hidden">

        <div class="z-20 book bg-azul-fondo" style="display: inherit;">
            <div class="bg-morado-xante marcador" style="width:3.8461538461538463%"></div>
        </div>

        <cabecera @nuevo="nuevo" :noSlide="noSlide"></cabecera>

        <input type="hidden" v-model="noSlide">

        <div class="lg:h-40 lg:w-full"></div>

        <transition name="fade" mode="out-in" class="relative">

            <router-view @guardarValor="guardarValor" @deshabilitarAvanzar="deshabilitarAvanzar" :formulario="formulario" @nuevo="nuevo" @avanzar="avanzar"></router-view>

        </transition>

        <div id="respuesta"></div>

        <div class="relative flex flex-col items-end justify-around w-full lg:bottom-0 lg:pt-0">

            <div class="flex items-center justify-end w-full px-2 pb-2 lg:pb-2">

                <div class="w-full text-left lg:w-1/2 lg:pl-28 lg:pr-8" v-if="noSlide != 'final' && noSlide != 26">
                    <span class="text-azul-vinte-texto lg:text-base text-xxs">{{ this.$trans('quest.quest_o') }}</span>
                </div>

                <div class="flex justify-end w-28 lg:w-60" v-if="noSlide != 'final'">
                    <button id="last" v-on:click="retroceder" class="flex items-center justify-center w-12 h-12 border rounded bg-azul-fondo hover:shadow-md hover:bg-azul-footer_index">
                        <!-- <img v-if="noSlide > 1" src="/assets/images/svg/up_blue.svg" class="w-3"> -->
                        <!-- <img v-else src="/assets/images/svg/up.svg" class="w-3"> -->
                        <div v-if="noSlide > 1" class="w-3 h-3 transform rotate-45 border-t-2 border-l-2 border-black translate-y-1/4"></div>
                        <div v-else class="w-3 h-3 transform rotate-45 border-t-2 border-l-2 border-white translate-y-1/4"></div>
                    </button>

                    <button v-if="noSlide != 26" id="next" v-on:click="avanzar" v-bind:class="{'cursor-not-allowed desactivados' : deshabilitarAvanzarClass}" class="flex items-center justify-center w-12 h-12 ml-2 border rounded bg-azul-fondo hover:shadow-md hover:bg-azul-footer_index">
                        <!-- <img v-if="deshabilitarAvanzarClass" src="/assets/images/svg/down.svg" class="w-3">
                        <img v-else src="/assets/images/svg/down_blue.svg" class="w-3"> -->
                        <div v-if="deshabilitarAvanzarClass" class="w-3 h-3 transform rotate-45 border-b-2 border-r-2 border-white -translate-y-1/4"></div>
                        <div v-else class="w-3 h-3 transform rotate-45 border-b-2 border-r-2 border-black -translate-y-1/4"></div>
                    </button>
                </div>

            </div>

            <nota class="relative left-0"></nota>

        </div>

    </div>

</template>

<script>
    import VueLang from '@eli5/vue-lang-js'
    import VueRouter from 'vue-router'
    import axios from 'axios'
    import Swal from 'sweetalert2'
    import translations from '../vue-translations.js';
    import VueAnalytics from 'vue-analytics';
    Vue.use(VueRouter, axios)

    var language

    const router = new VueRouter({
        routes: [
            { path: '/form',    component: require('./uno.vue').default,            name: 'uno'     },
            { path: '/',        component: require('./uno.vue').default,            name: 'uno'     },
            { path: '/1',       component: require('./uno.vue').default,            name: '1'       },
            { path: '/2',       component: require('./dos.vue').default,            name: '2'       },
            { path: '/3',       component: require('./tres.vue').default,           name: '3'       },
            { path: '/4',       component: require('./cuatro.vue').default,         name: '4'       },
            { path: '/5',       component: require('./cinco.vue').default,          name: '5'       },
            { path: '/6',       component: require('./seis.vue').default,           name: '6'       },
            { path: '/7',       component: require('./siete.vue').default,          name: '7'       },
            { path: '/8',       component: require('./ocho.vue').default,           name: '8'       },
            { path: '/9',       component: require('./nueve.vue').default,          name: '9'       },
            { path: '/10',      component: require('./diez.vue').default,           name: '10'      },
            { path: '/11',      component: require('./once.vue').default,           name: '11'      },
            { path: '/12',      component: require('./doce.vue').default,           name: '12'      },
            { path: '/13',      component: require('./trece.vue').default,          name: '13'      },
            { path: '/14',      component: require('./catorce.vue').default,        name: '14'      },
            { path: '/15',      component: require('./quince.vue').default,         name: '15'      },
            { path: '/16',      component: require('./dieciseis.vue').default,      name: '16'      },
            { path: '/17',      component: require('./diecisiete.vue').default,     name: '17'      },
            { path: '/18',      component: require('./dieciocho.vue').default,      name: '18'      },
            { path: '/19',      component: require('./diecinueve.vue').default,     name: '19'      },
            { path: '/20',      component: require('./veinte.vue').default,         name: '20'      },
            { path: '/21',      component: require('./veintiuno.vue').default,      name: '21'      },
            { path: '/22',      component: require('./veintidos.vue').default,      name: '22'      },
            { path: '/23',      component: require('./veintitres.vue').default,     name: '23'      },
            { path: '/24',      component: require('./veinticuatro.vue').default,   name: '24'      },
            { path: '/25',      component: require('./veinticinco.vue').default,    name: '25'      },
            // { path: '/26',      component: require('./veintiseis.vue').default,     name: '26'      },
            { path: '/final',   component: require('./final.vue').default,          name: 'final'   }
        ],
        mode: 'history',
    });

    export default {
        props:["lang"],
        router: router,
        data() {
            return {
                noSlide: 1,
                totalSlide: 25,
                porcentaje: (this.noSlide * 100) / this.totalSlide,
                deshabilitarAvanzarClass: true
            }
        },
        computed: {
            formulario: {
                get: function(){
                    var formulario = JSON.parse(localStorage.getItem('formulario'))
                    if(formulario == null)
                        return {}

                    return formulario
                },

                set: function(){
                    var formulario = JSON.parse(localStorage.getItem('formulario'))
                    if(formulario == null)
                        return {}

                    return formulario
                }
            }
        },
        mounted() {
            Vue.use(VueAnalytics, {
                id: 'UA-227859785-1',
                router
            });
            if(localStorage.getItem('slide')) {
                this.noSlide = localStorage.slide;
                this.abrirSlide(this.noSlide)
            }else{
                localStorage.setItem('slide', 1)
                console.log("entro")
            }


        },
        created(){
            language = this.lang
            console.log('recibido: ',this.lang)
            console.log('Idioma: ',language)

            Vue.use(VueLang, {
                messages: translations, // Provide locale file
                locale: this.lang == "es" ? "es" : "en", // Set locale
                fallback: 'en' // Set fallback lacale
            });
        },
        methods:{
            deshabilitarAvanzar(estado = true) {
                this.deshabilitarAvanzarClass = estado
            },
            book: function(){
                document.querySelector(".marcador").setAttribute('style','width:'+this.porcentaje+'%')
            },
            avanzar: function(){
                console.log(this.noSlide)
                if(this.deshabilitarAvanzarClass == false) {
                    let error_formulario = false

                    this.noSlide ++
                    switch(this.noSlide){

                        case 7:
                            if(this.formulario.propiedad_tipo_id == "1"){
                                this.noSlide ++
                            }

                            break;

                        case 10:
                            if(this.formulario.propiedad_tipo_id == "2"){
                                this.noSlide ++
                            }

                            break;

                        case 12:
                            if(this.formulario.equipado == "NO"){
                                this.noSlide ++
                                console.log("brinco a la 11")
                            }
                            break;
                        case 20:
                            if(this.formulario.hipoteca == "NO" && this.formulario.propiedad_tipo_id == "2"){
                                this.noSlide ++
                                console.log("brinco a la 21")
                            }

                            break;

                        case 21:
                            if(this.formulario.hipoteca == "NO" && this.formulario.propiedad_tipo_id == "1"){
                                this.noSlide ++
                                console.log("brinco a la 22")
                            }

                            break;

                        case 24:

                            if(this.formulario.propiedad_tipo_id == "2"){
                                if(this.formulario.motivo != "Cambiar de casa o departamento"){
                                    console.log("entro 24 if 1")
                                            let formData = new FormData()
                                            let equipos = []

                                            for(var x in this.formulario.equipo){
                                                console.log('iteró')
                                                console.log('valor de x:',x)
                                                if(this.formulario.equipo[x])
                                                    equipos.push(x)
                                                else
                                                    console.log("false")

                                                console.log('entró');
                                            }

                                            this.formulario.equipo = equipos

                                            console.log(this.formulario.equipo)

                                            for(var j in this.formulario) {
                                                formData.append(j, this.formulario[j])
                                            }

                                            // let i = 0
                                            // for(i in this.formulario.archivos) {
                                            //     formData.append(
                                            //         'archivo-' + i, // Llave para identificar el objeto en el request
                                            //         this.formulario.archivos[i].datos // Contenido
                                            //     )
                                            //     console.log("archivo-" + i, this.formulario.archivos[i].datos)
                                            // }

                                            console.log("datos: ", formData)

                                            fetch('/api/propiedades/guardar', {body: formData,
                                                    // headers : {
                                                    //     'Content-Type': 'multipart/form-data'
                                                    // },
                                                    method: 'POST'
                                                }).then((res) => {
                                                    return res.json()
                                                }).then((res) => {


                                                    console.log("respuesta axios: ", res)

                                                    if(res.codigo == 'ok') {

                                                        console.log("entro")
                                                        console.log("ruta1: ")
                                                        this.noSlide = 'final'
                                                        console.log("ruta2: " + this.noSlide)
                                                        this.abrirSlide(this.noSlide)

                                                    }else{

                                                        console.log("no entro")
                                                        this.noSlide --
                                                        this.abrirSlide(this.noSlide)
                                                        alert("Ocurrio un error: "+ res.msg)

                                                    }

                                                })
                                                .catch(error => {

                                                    this.noSlide --

                                                })
                                    // this.noSlide ++
                                    // this.noSlide ++
                                }
                            }

                            break;

                        case 25:

                            if(this.formulario.propiedad_tipo_id == "1"){
                                if(this.formulario.motivo != "Cambiar de casa o departamento"){
                                    console.log("entro 25 if 1")

                                    let formData = new FormData()
                                    let equipos = []

                                    for(var x in this.formulario.equipo){
                                        console.log('iteró')
                                        console.log('valor de x:',x)
                                        if(this.formulario.equipo[x])
                                            equipos.push(x)
                                        else
                                            console.log("false")

                                        console.log('entró');
                                    }

                                    this.formulario.equipo = equipos

                                    console.log(this.formulario.equipo)

                                    for(var j in this.formulario) {
                                        formData.append(j, this.formulario[j])
                                    }

                                    // let i = 0
                                    // for(i in this.formulario.archivos) {
                                    //     formData.append(
                                    //         'archivo-' + i, // Llave para identificar el objeto en el request
                                    //         this.formulario.archivos[i].datos // Contenido
                                    //     )
                                    //     console.log("archivo-" + i, this.formulario.archivos[i].datos)
                                    // }

                                    console.log("datos: ", formData)

                                    fetch('/api/propiedades/guardar', {body: formData,
                                            // headers : {
                                            //     'Content-Type': 'multipart/form-data'
                                            // },
                                            method: 'POST'
                                        }).then((res) => {
                                            return res.json()
                                        }).then((res) => {


                                            console.log("respuesta axios: ", res)

                                            if(res.codigo == 'ok') {

                                                console.log("entro")
                                                console.log("ruta1: ")
                                                this.noSlide = 'final'
                                                console.log("ruta2: " + this.noSlide)
                                                this.abrirSlide(this.noSlide)

                                            }else{

                                                console.log("no entro")
                                                this.noSlide --
                                                this.abrirSlide(this.noSlide)
                                                alert("Ocurrio un error: "+ res.msg)

                                            }

                                        })
                                        .catch(error => {

                                            this.noSlide --

                                        })
                                    // this.noSlide ++
                                    // this.noSlide ++
                                }
                            }

                            if(this.formulario.propiedad_tipo_id == "2"){
                                console.log("entro 25 if 2")
                                        let formData = new FormData()
                                        let equipos = []

                                        for(var x in this.formulario.equipo){
                                            console.log('iteró')
                                            console.log('valor de x:',x)
                                            if(this.formulario.equipo[x])
                                                equipos.push(x)
                                            else
                                                console.log("false")

                                            console.log('entró');
                                        }

                                        this.formulario.equipo = equipos

                                        console.log(this.formulario.equipo)

                                        for(var j in this.formulario) {
                                            formData.append(j, this.formulario[j])
                                        }

                                        // let i = 0
                                        // for(i in this.formulario.archivos) {
                                        //     formData.append(
                                        //         'archivo-' + i, // Llave para identificar el objeto en el request
                                        //         this.formulario.archivos[i].datos // Contenido
                                        //     )
                                        //     console.log("archivo-" + i, this.formulario.archivos[i].datos)
                                        // }

                                        console.log("datos: ", formData)

                                        fetch('/api/propiedades/guardar', {body: formData,
                                                // headers : {
                                                //     'Content-Type': 'multipart/form-data'
                                                // },
                                                method: 'POST'
                                            }).then((res) => {
                                                return res.json()
                                            }).then((res) => {


                                                console.log("respuesta axios: ", res)

                                                if(res.codigo == 'ok') {

                                                    console.log("entro")
                                                    console.log("ruta1: ")
                                                    this.noSlide = 'final'
                                                    console.log("ruta2: " + this.noSlide)
                                                    this.abrirSlide(this.noSlide)

                                                }else{

                                                    console.log("no entro")
                                                    this.noSlide --
                                                    this.abrirSlide(this.noSlide)
                                                    alert("Ocurrio un error: "+ res.msg)

                                                }

                                            })
                                            .catch(error => {

                                                this.noSlide --

                                            })
                                // this.noSlide ++
                                // this.noSlide ++
                            }

                            break;

                        case 26:
                        console.log("entra 26")
                            error_formulario = true;
                            // this.subirPropiedad().then(res => {

                            //     console.log("se ejecuto axios", "res: " + res)

                            //     if(res){
                            //         this.noSlide = 'final'
                            //         this.abrirSlide(this.noSlide)
                            //     }else{
                            //         this.noSlide --
                            //     }

                            // }, function(fail) {
                            //     console.log('fail', fail, JSON.stringify(fail))
                            // })

                            let formData = new FormData()
                            let equipos = []

                            for(var x in this.formulario.equipo){
                                console.log('iteró')
                                console.log('valor de x:',x)
                                if(this.formulario.equipo[x])
                                    equipos.push(x)
                                else
                                    console.log("false")

                                console.log('entró');
                            }

                            this.formulario.equipo = equipos

                            console.log(this.formulario.equipo)

                            for(var j in this.formulario) {
                                formData.append(j, this.formulario[j])
                            }

                            // let i = 0
                            // for(i in this.formulario.archivos) {
                            //     formData.append(
                            //         'archivo-' + i, // Llave para identificar el objeto en el request
                            //         this.formulario.archivos[i].datos // Contenido
                            //     )
                            //     console.log("archivo-" + i, this.formulario.archivos[i].datos)
                            // }

                            console.log("datos: ", formData)

                            ('/api/propiedades/guardar', {body: formData,
                                    // headers : {
                                    //     'Content-Type': 'multipart/form-data'
                                    // },
                                    method: 'POST'
                                }).then((res) => {
                                    return res.json()
                                }).then((res) => {


                                    console.log("respuesta axios: ", res)

                                    if(res.codigo == 'ok') {

                                        console.log("entro")
                                        console.log("ruta1: ")
                                        this.noSlide = 'final'
                                        console.log("ruta2: " + this.noSlide)
                                        this.abrirSlide(this.noSlide)

                                    }else{

                                        console.log("no entro")
                                        this.noSlide --
                                        this.abrirSlide(this.noSlide)
                                        alert("Ocurrio un error: "+ res.msg)

                                    }

                                })
                                .catch(error => {

                                    this.noSlide --

                                })


                            // })

                            break;

                    }

                    if(!error_formulario)
                        this.abrirSlide(this.noSlide)

                    localStorage.setItem('formulario', JSON.stringify(this.formulario))

                }
            },
            retroceder: function(){
                if(this.noSlide > 1) {

                    console.log(this.noSlide)
                    this.noSlide --

                    switch(this.noSlide){

                        case 7:
                            if(this.formulario.propiedad_tipo_id == "1"){
                                this.noSlide --
                            }

                            break;

                        case 10:
                            if(this.formulario.propiedad_tipo_id == "2"){
                                this.noSlide --
                            }

                            break;

                        case 12:
                            if(this.formulario.equipado == "NO")
                                this.noSlide --
                                console.log("brinco a la 9")

                            break;

                        case 20:
                            if(this.formulario.hipoteca == "NO" && this.formulario.propiedad_tipo_id == "2"){
                                this.noSlide --
                                console.log("brinco a la 18")
                            }

                            break;

                        case 21:
                            if(this.formulario.hipoteca == "NO" && this.formulario.propiedad_tipo_id == "1"){
                                this.noSlide --
                                console.log("brinco a la 18")
                            }

                            break;

                        case 24:

                            console.log("slide 24 ")
                            if(this.formulario.propiedad_tipo_id == "2"){
                                console.log("slide 24 propiedad tipo 2")
                                if(this.formulario.motivo != "Cambiar de casa o departamento"){
                                    console.log("es cambio de caso o depa")
                                    this.noSlide --
                                }
                            }

                            break;

                        case 25:
                            console.log("slide 25 ")
                            if(this.formulario.propiedad_tipo_id == "1"){
                                if(this.formulario.motivo != "Cambiar de casa o departamento"){
                                    this.noSlide --
                                }
                            }

                            if(this.formulario.propiedad_tipo_id == "2"){
                                if(this.formulario.motivo != "Cambiar de casa o departamento"){
                                    this.noSlide --
                                    this.noSlide --
                                }else{
                                    this.noSlide --
                                }
                            }

                            break;
                    }

                    this.abrirSlide(this.noSlide)
                }
            },
            nuevo(){
                this.noSlide = 1;
                this.abrirSlide(this.noSlide)
                this.formulario = {}
                localStorage.setItem('formulario', null)
                // location.reload()

                location.href = "/"
            },
            guardarValor(which, what) {
                this.formulario[ which ] = what
            },
            abrirSlide(slide) {
                localStorage.setItem('slide', slide)

                if(slide == 'final')
                    this.porcentaje = 100
                else
                    this.porcentaje = (this.noSlide * 100) / this.totalSlide

                this.book()
                this.$router.replace({ name: slide }).catch(err => { console.log(err) }) ;
            },
            subirPropiedad: async function(){

                let formData = new FormData()
                let equipos = []

                for(var x in this.formulario.equipo){
                    console.log('iteró')
                    console.log('valor de x:',x)
                    if(this.formulario.equipo[x])
                        equipos.push(x)
                    else
                        console.log("false")

                    console.log('entró');
                }

                this.formulario.equipo = equipos

                console.log(this.formulario.equipo)

                for(var j in this.formulario) {
                    formData.append(j, this.formulario[j])
                }

                let i = 0
                for(i in this.formulario.archivos) {
                    formData.append(
                        'archivo-' + i, // Llave para identificar el objeto en el request
                        this.formulario.archivos[i].datos // Contenido
                    )
                    console.log("archivo-" + i, this.formulario.archivos[i].datos)
                }

                console.log("datos: ", formData)

                let res

                await axios.post(
                    '/api/propiedades/guardar',
                    formData,
                    {
                        headers : {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                )
                .then(function(res) {

                    console.log(res.data.codigo)

                    if(res.data.codigo == 'ok') {

                        res = true

                    }else{

                        alert("Ocurrio un error: "+ res.msg)

                        res = false
                    }

                })
                .catch(error => {

                    res = false

                })

                return res
            }
        }
    }


</script>
