<template>
    <div style="height: calc(100% - 240px)" class="flex flex-col items-center justify-start w-full">

        <div class="relative flex flex-col items-center justify-center pt-10 lg:pt-0">
            <p class="text-lg text-justify font-poppins-semibold text-morado-xante">{{ this.$trans('quest.seis') }}</p>
            <span class="text-sm text-justify text-gray-400 font-poppins-light">{{ this.$trans('quest.seis_sub') }}</span>

            <div class="relative flex flex-col items-center justify-center w-10/12 pt-10 lg:w-full">
                <p class="text-justify font-poppins-light">{{ this.$trans('quest.seis_instruc') }}</p>
                <span class="pt-6 text-sm text-justify text-morado-xante font-poppins-light">{{ this.$trans('quest.seis_input') }}</span>
                <!-- <select class="w-full mt-2 bg-gray-300 border-transparent rounded-lg outline-none focus:border-verde-landing focus:border-4 font-poppins-light focus:ring-offset-0 focus:ring-0 focus:outline-none" v-model="razon" v-on:focus="pruebafocus" v-on:blur="pruebablur">
                    <option value="" selected="selected" disabled >{{ this.$trans('quest.seis_res1') }}</option>
                    <option>{{ this.$trans('quest.seis_res2') }}</option>
                    <option>{{ this.$trans('quest.seis_res3') }}</option>
                    <option>{{ this.$trans('quest.seis_res4') }}</option>
                    <option>{{ this.$trans('quest.seis_res5') }}</option>
                </select> -->
                <select v-if="vModelUsed" v-model="razon" class="w:10/12 w-full mt-8 bg-gray-300 border-transparent rounded-lg outline-none form-select focus:border-verde-landing focus:border-4 font-poppins-light focus:ring-offset-0 focus:ring-0 focus:outline-none ">
                    <option  :value="null" disabled >Selecciona una opción</option>
                    <option v-for="option in options" :value="option.value" :key="option.value" :selected="option.value === razon">{{ option.label }}</option>
                    </select>
                    <select v-else @change="handleChange" class="w:10/12 w-full mt-8 bg-gray-300 border-transparent rounded-lg outline-none form-select focus:border-verde-landing focus:border-4 font-poppins-light focus:ring-offset-0 focus:ring-0 focus:outline-none ">
                    <option :value="null" disabled selected>Selecciona una opción</option>
                    <option v-for="option in options" :value="option.value" :key="option.value">
                        {{ option.label }}
                    </option>
                    </select>

                <div class="pt-2 input-errors font-montserrat-regular" v-for="error of v$.razon.$silentErrors" :key="error.$uid">
                    <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.required') }}</div>
                </div>

            </div>



            <div class="relative flex items-center justify-center w-full pt-10 lg:hidden">
                <div class="relative flex justify-center h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer w-28 button-gradient font-poppins-bold" v-on:click="siguiente()">{{ this.$trans('quest.siguiente') }}</div>
            </div>
            <div class="relative flex items-center justify-center w-full pt-10 lg:hidden">
                <div class="relative flex justify-center h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer w-28 button-gradient font-poppins-bold" v-on:click="retroceder()">Anterior</div>
            </div>

        </div>

        <div class="relative top-96 w-full pt-72">
        <div class="absolute z-20 justify-center hidden h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer lg:flex bottom-28 left-4 w-28 button-gradient font-poppins-bold hover:shadow-lg hover:scale-110" v-on:click="retroceder()">Anterior</div>

        <div class="absolute z-20 justify-center hidden h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer lg:flex bottom-28 right-4 w-28 button-gradient font-poppins-bold hover:shadow-lg hover:scale-110" v-on:click="siguiente()">{{ this.$trans('quest.siguiente') }}</div>
        </div>

    </div>
</template>

<script>

    import useVuelidate from '@vuelidate/core'
    import { required } from '@vuelidate/validators'

    export default {
        props: ['formulario'],
        setup () {
            return { v$: useVuelidate() }
        },
        data() {
            return {
                razon: '',
                options: [
                    { value: 'Busco liquidez', label: 'Busco liquidez' },
                    { value: 'Cambiar de ciudad', label: 'Cambiar de ciudad' },
                    { value: 'Busco hogar con características diferentes', label: 'Busco hogar con características diferentes' },
                    { value: 'Otro', label: 'Otro' },

                ],
            }
        },
        computed: {
            vModelUsed() {
            return this.$attrs.hasOwnProperty('v-model');
            },
        },
        validations() {
            return {
                razon: {
                    required,
                },

            }
        },
        mounted() {
            console.log('razon log: '+this.razon)
            if (!this.razon) {
                this.razon = this.options.length > 0 ? this.options[0].value : null;
                }

            this.razon = this.formulario.sale_reasons
            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
            this.habilitarBotonAceptar(this.v$.$invalid)
            // if (this.formulario.sale_reasons != ""){
            //     this.vernumero = false
            // }
        },
        methods:{
            handleChange(event) {
            this.razon = event.target.value;
            },
            retroceder: function(){
                this.$emit('retrocederBtn')
            },


            siguiente: function(){

                if(!this.v$.$invalid){
                    this.$emit('guardarValor', 'sale_reasons', this.razon)
                    this.$emit('avanzar')
                    // this.$emit('avanzarBtn')
                }

            }

        }
    }

</script>
