<template>

    <div class="relative flex items-start justify-end w-full px-6 py-6 pt-20 overflow-y-hidden h-2/3 lg:py-0 lg:pt-0">

        <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly" v-if="propiedad_tipo_id == '1'">
            <p class="py-2 text-2xl text-black font-montserrat-bold">{{ this.$trans('quest.q6c') }}</p>
            <input type="text" :placeholder="this.$trans('quest.enter_answer')" class="w-full text-black border-0 border-b-2 font-montserrat-semibold" @change="guardar" v-model="num_exterior" v-on:keyup="keyMonitor">
            <div class="pt-2 input-errors" v-for="error of v$.num_exterior.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.email_valid') }}</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' + $trans('quest.chars') }}</div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_chars') + ' ' + error.$params.max + ' ' + $trans('quest.chars') }}</div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.max_val') + ' ' + error.$params.max }}</div>
            </div>

            <button class="py-1.5 mt-10 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{this.$trans('quest.accept')}}</button>

        </div>

        <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly" v-if="propiedad_tipo_id == '2'">
            <p class="text-black font-montserrat-semibold">{{ this.$trans('quest.cont_direcc') }}</p>
            <p class="py-2 text-2xl text-black font-montserrat-bold">{{ this.$trans('quest.q6d') }}</p>
            <input type="text" :placeholder="this.$trans('quest.enter_answer')" class="w-full text-black border-0 border-b-2 font-montserrat-semibold" @change="guardar" v-model="direccion" v-on:keyup="keyMonitor">
            <div class="pt-2 input-errors" v-for="error of v$.direccion.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.email_valid') }}</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' + $trans('quest.chars') }}</div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_chars') + ' ' + error.$params.max + ' ' + $trans('quest.chars') }}</div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.max_val') + ' ' + error.$params.max }}</div>
            </div>

            <button class="py-1.5 mt-10 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{this.$trans('quest.accept')}}</button>

        </div>

        <div class="w-2/12"></div>

    </div>

</template>

<script>
    import useVuelidate from '@vuelidate/core'
    import { required, minLength } from '@vuelidate/validators'

    export default {
        props: ['formulario'],
        setup () {
            return { v$: useVuelidate() }
        },
        data() {
            return {
                propiedad_tipo_id: "",
                num_exterior: "10",
                direccion: "domicilio",
                deshabilitar: true
            }
        },
        validations() {
            return {
                num_exterior: {
                    required,
                    minValue : minLength(1)
                },
                direccion: {
                    required,
                    minLength: minLength(5)
                }
            }
        },
        mounted() {
            this.propiedad_tipo_id = this.formulario.propiedad_tipo_id
            if(this.propiedad_tipo_id == "1"){
                this.num_exterior = this.formulario.num_exterior
            }else{
                this.direccion = this.formulario.direccion
            }
            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
            this.habilitarBotonAceptar(this.v$.$invalid)
        },
        methods: {
            guardar: function(){
                this.$emit('deshabilitarAvanzar', this.v$.$invalid)
                this.habilitarBotonAceptar(this.v$.$invalid)
                switch(this.propiedad_tipo_id){
                    case '1':
                        this.$emit('guardarValor', 'num_exterior', this.num_exterior)
                        break;
                    case '2':
                        this.$emit('guardarValor', 'direccion', this.direccion)
                        break;
                }
            },
            keyMonitor: function(event){
                this.$emit('deshabilitarAvanzar', this.v$.$invalid)
                this.habilitarBotonAceptar(this.v$.$invalid)
            },
            siguiente: function(){
                this.$emit('avanzar')
            },
            habilitarBotonAceptar: function(estado = true){
                this.deshabilitar = estado
            }
        }
    }

</script>
