<template>
    <!-- <div class="flex flex-col items-center justify-start w-full h-auto overflow-y-auto lg:h-tres"> -->
        <div class="flex flex-col items-center justify-start w-full h-auto lg:h-tres">

        <div class="relative flex flex-col items-center justify-center w-10/12 pb-20 lg:w-4/12">
            <p class="text-lg text-justify font-poppins-semibold text-morado-xante">{{ this.$trans('quest.siete') }}</p>
            <span class="pt-3 text-sm text-center text-justify text-gray-600 font-poppins-light">{{ this.$trans('quest.siete_pre1') }}</span>
            <span class="text-sm text-center text-justify text-gray-600 font-poppins-light">{{ this.$trans('quest.siete_instruc') }}</span>

            <div class="relative flex flex-col items-start justify-center w-full pt-4">
                <span class="pl-2 text-sm text-justify text-gray-400 text-morado-xante font-poppins-light">{{ this.$trans('quest.siete_nombre') }}</span>
                <input v-model="nombre" type="text" :placeholder="this.$trans('quest.siete_nombre')" class="w-full mt-2 bg-gray-300 border-transparent rounded-lg outline-none focus:border-verde-landing focus:border-4 font-poppins-light focus:ring-offset-0 focus:ring-0 focus:outline-none">
                <div class="pt-0 text-sm input-errors font-montserrat-regular" v-for="error of v$.nombre.$silentErrors" :key="error.$uid">
                    <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                    <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                    <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.email_valid') }}</div>
                    <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.chars') }}</div>
                    <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.chars') }}</div>
                    <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.digits') }}</div>
                    <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                </div>
            </div>
<!--
            <div class="relative flex flex-col items-start justify-center w-full pt-2">
                <span class="pl-2 text-sm text-justify text-gray-400 text-morado-xante font-poppins-light">{{ this.$trans('quest.siete_prefer') }}</span>
                <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                        <div class="flex items-center pl-3">
                            <input v-model="preferencia" checked id="horizontal-list-radio-license" type="radio" value="Contacto por WhatsApp" name="list-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="horizontal-list-radio-license" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">WhatsApp </label>
                        </div>
                    </li>
                    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                        <div class="flex items-center pl-3">
                            <input v-model="preferencia" id="horizontal-list-radio-millitary" type="radio" value="Contacto por Correo" name="list-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="horizontal-list-radio-millitary" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Correo</label>
                        </div>
                    </li>

                </ul>
                <div class="pt-0 input-errors font-montserrat-regular" v-for="error of v$.preferencia.$silentErrors" :key="error.$uid">
                    <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>

                </div>
            </div> -->
            <div class="relative flex flex-col items-start justify-center w-full pt-2">
                <span class="pl-2 text-sm text-justify text-gray-400 text-morado-xante font-poppins-light">{{ this.$trans('quest.siete_prefer') }}</span>
                <!-- <select class="w-full mt-2 bg-gray-300 border-transparent rounded-lg outline-none focus:border-verde-landing focus:border-4 font-poppins-light focus:ring-offset-0 focus:ring-0 focus:outline-none" v-model="preferencia" v-on:focus="pruebafocus" v-on:blur="pruebablur" >
                    <option disabled value>{{ this.$trans('quest.seis_res1') }}</option>
                    <option value="WhatsApp">WhatsApp</option>
                    <option value="Correo">Correo</option>
                    <option value="Teléfono">Teléfono</option>
                </select> -->
                <select v-if="vModelUsed" v-model="razon" class="w:10/12 w-full mt-8 bg-gray-300 border-transparent rounded-lg outline-none form-select focus:border-verde-landing focus:border-4 font-poppins-light focus:ring-offset-0 focus:ring-0 focus:outline-none ">
                    <option  :value="null" disabled >Selecciona una opción</option>
                    <option v-for="option in options" :value="option.value" :key="option.value" :selected="option.value === razon">{{ option.label }}</option>
                </select>
                <select v-else @change="handleChange" class="w:10/12 w-full mt-8 bg-gray-300 border-transparent rounded-lg outline-none form-select focus:border-verde-landing focus:border-4 font-poppins-light focus:ring-offset-0 focus:ring-0 focus:outline-none ">
                    <option :value="null" disabled selected>Selecciona una opción</option>
                    <option v-for="option in options" :value="option.value" :key="option.value">
                        {{ option.label }}
                    </option>
                </select>

                <div class="pt-0 input-errors font-montserrat-regular" v-for="error of v$.preferencia.$silentErrors" :key="error.$uid">
                    <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>

                </div>

            </div>

            <div class="relative flex flex-col items-start justify-center w-full pt-2">
                <span class="pl-2 text-sm text-justify text-gray-400 text-morado-xante font-poppins-light">{{ this.$trans('quest.siete_whats') }}</span>
                <input v-model="whatsapp" type="tel" :placeholder="this.$trans('quest.siete_whats')" class="w-full mt-2 bg-gray-300 border-transparent rounded-lg outline-none focus:border-verde-landing focus:border-4 font-poppins-light focus:ring-offset-0 focus:ring-0 focus:outline-none">
                <div class="pt-0 input-errors font-montserrat-regular" v-for="error of v$.whatsapp.$silentErrors" :key="error.$uid">
                    <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                    <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                    <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.email_valid') }}</div>
                    <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.digits') }}</div>
                    <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                    <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.digits') }}</div>
                    <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                </div>
            </div>

            <div class="relative flex flex-col items-start justify-center w-full pt-2">
                <span class="pl-2 text-sm text-justify text-gray-400 text-morado-xante font-poppins-light">{{ this.$trans('quest.siete_correo') }}</span>
                <input v-model="correo" type="text" :placeholder="this.$trans('quest.siete_correo')" class="w-full mt-2 bg-gray-300 border-transparent rounded-lg outline-none focus:border-verde-landing focus:border-4 font-poppins-light focus:ring-offset-0 focus:ring-0 focus:outline-none">
                <div class="pt-0 text-sm input-errors font-montserrat-regular" v-for="error of v$.correo.$silentErrors" :key="error.$uid">
                    <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.required') }}</div>
                    <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                    <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.email_valid') }}</div>
                    <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.digits') }}</div>
                    <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                    <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.digits') }}</div>
                    <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                </div>
            </div>



            <div class="relative flex flex-col items-start justify-center w-full pt-2">
                <span class="pl-2 text-sm text-justify text-gray-400 text-morado-xante font-poppins-light">{{ this.$trans('quest.siete_comentario') }} </span>
                <textarea class="w-full mt-2 bg-gray-300 border-transparent rounded-lg outline-none focus:border-verde-landing focus:border-4 font-poppins-light focus:ring-offset-0 focus:ring-0 focus:outline-none" cols="30" rows="4" :placeholder="this.$trans('quest.siete_txt')" v-model="mensaje"></textarea>
            </div>
            <br><br>
            <div class="relative flex flex-col items-start w-full pt-2">
                <!-- <span class="pl-2 text-sm text-justify text-gray-400 text-morado-xante font-poppins-light">{{ this.$trans('quest.siete_correo') }}</span> -->
                <div class="flex flex-col w-full gap-2 ">

                    <label class="text-xs text-gris-texto">

                        <input v-model="terminos"  type="checkbox" id="terminos" value="1">  &nbsp; Acepto términos y condiciones. <a href="/assets/pdf/AVISO%20DE%20PRIVACIDAD%20PROMOTORA.pdf" target="_blank" class="text-azul-footer"> Consultar aviso de privacidad. </a>

                    </label>


                    </div>


                <div class="pt-0 text-sm input-errors font-montserrat-regular" v-for="error of v$.terminos.$silentErrors" :key="error.$uid">
                    <div v-if="error.$validator == 'required'" :key="error.$uid" class="items-center justify-center text-azul-vinte-texto error-msg" >{{ $trans('quest.required') }}</div>
                </div>
            </div>
            <br><br>


            <div class="relative flex items-center justify-center w-full pt-10 pb-10 lg:hidden">
                <div class="relative flex justify-center h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer w-28 button-gradient font-poppins-bold" v-on:click="siguiente()">{{ this.$trans('quest.siguiente') }}</div>
            </div>

        </div>

        <div class="relative flex items-center justify-center w-full pt-10 lg:hidden">
                <div class="relative flex justify-center h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer w-28 button-gradient font-poppins-bold" v-on:click="retroceder()">Anterior</div>
            </div>

            <div class="relative w-full pt-10 top-1">


        <div class="absolute z-20 justify-center hidden h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer lg:flex bottom-28 right-4 w-28 button-gradient font-poppins-bold hover:shadow-lg hover:scale-110" v-on:click="siguiente()">{{ this.$trans('quest.siguiente') }}</div>
        <div class="absolute z-20 justify-center hidden h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer lg:flex bottom-28 left-4 w-28 button-gradient font-poppins-bold hover:shadow-lg hover:scale-110" v-on:click="retroceder()">Anterior</div>
        </div>

    </div>
</template>

<script>

    import useVuelidate from '@vuelidate/core'
    import { required, email, maxLength, minLength, numeric, preferencia } from '@vuelidate/validators'

    export default {
        props: ['formulario'],
        setup () {
            return { v$: useVuelidate() }

        },
        data() {
            return {
                nombre: null,
                correo: null,
                whatsapp: null,
                mensaje: null,
                terminos: null,
                preferencia: "",
                vernumero: true,
                options: [
                    { value: 'WhatsApp', label: 'WhatsApp' },
                    { value: 'Correo', label: 'Correo' },
                    { value: 'Teléfono', label: 'Teléfono' },

                ],


            }
        },
        computed: {
            vModelUsed() {
            return this.$attrs.hasOwnProperty('v-model');
            },
        },
        validations() {
            return {
                nombre: {
                    required,
                    minLength: minLength(3),
                    maxLength: maxLength(100)
                },
                correo: {
                    required,
                    email
                },
                whatsapp: {
                    required,
                    numeric,
                    minLength: minLength(10),
                    maxLength: maxLength(10)
                },
                terminos: {
                    required,


                },
                preferencia: {
                    required,


                },


            }
        },
        mounted() {
            this.nombre = this.formulario.name
            this.whatsapp = this.formulario.whatsapp
            this.correo = this.formulario.email
            this.mensaje = this.formulario.comments
            this.terminos = this.formulario.terminos
            this.preferencia = this.formulario.preferencia
            console.log('preferencia log: '+this.preferencia)
            if (!this.preferencia) {
                this.preferencia = this.options.length > 0 ? this.options[0].value : null;
                }


            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
            this.habilitarBotonAceptar(this.v$.$invalid)
            if (this.formulario.preferencia != ""){
                this.vernumero = false
            }

        },
        methods:{
            handleChange(event) {
            this.preferencia = event.target.value;
            },
            retroceder: function(){
                this.$emit('retrocederBtn')
            },

            siguiente: function(){
                // alert(preferencia)
                if(!this.v$.$invalid){
                    this.$emit('guardarValor', 'name', this.nombre)
                    this.$emit('guardarValor', 'whatsapp', this.whatsapp)
                    this.$emit('guardarValor', 'email', this.correo)
                    this.$emit('guardarValor', 'comments', this.mensaje)
                    this.$emit('guardarValor', 'terminos', this.terminos)
                    this.$emit('guardarValor', 'preferencia', this.preferencia)
                    this.$emit('avanzar')
                    // this.$emit('avanzarBtn')
                }

            }

        }
    }

</script>
