<template>

    <div class="flex flex-col items-center justify-start w-full h-auto lg:h-tres">

        <div class="flex flex-col items-center justify-center w-10/12 pb-48 realative lg:pb-0">
            <p class="pt-6 pb-6 text-lg text-center font-poppins-semibold text-morado-xante lg:text-left" >{{ this.$trans('quest.tres') }}</p>
            <div class="flex items-end w-full lg:w-1/2 justify-evenly">
                <div class="flex flex-col items-center justify-center transform cursor-pointer hover:scale-110" v-on:click="seleccionInmueble(1)">
                    <img v-if="tipo_inmueble == 1" src="/assets/images/svg/check-verde.svg" alt="success" class="absolute top-0 w-5 -left-4">
                    <img v-if="tipo_inmueble == 1" class="h-12" src="/assets/images/svg/casa-morado.svg" alt="casa">
                    <img v-else class="h-12" src="/assets/images/svg/casa.svg" alt="casa">
                    <p class="">{{ this.$trans('quest.casa') }}</p>
                </div>
                <div class="flex flex-col items-center justify-center transform cursor-pointer hover:scale-110" v-on:click="seleccionInmueble(2)">
                    <img v-if="tipo_inmueble == 2" src="/assets/images/svg/check-verde.svg" alt="success" class="absolute top-0 w-5 -left-4">
                    <img v-if="tipo_inmueble == 2" class="w-7" src="/assets/images/svg/depa-morado.svg" alt="depa">
                    <img v-else class="h-12" src="/assets/images/svg/depa.svg" alt="depa">
                    <p class="">{{ this.$trans('quest.depa') }}</p>
                </div>
            </div>
            <p class="pt-6 pb-6 text-center text-md font-poppins-semibold text-morado-xante lg:text-left" >{{ this.$trans('quest.tres2') }}</p>
            <div v-show="tipo_inmueble != null" class="flex flex-col items-center justify-center w-full pt-12 lg:flex-row">

                <div class="relative flex flex-col items-start justify-around w-full lg:w-1/2">

                    <div class="flex items-center justify-between w-full h-10 pb-5">

                        <div class="flex items-center justify-start w-9/12">

                            <div class="flex items-center justify-center w-1/12">
                                <img class="w-5 h-5" src="/assets/images/svg/barras.svg" alt="lineas">
                            </div>

                            <div class="w-11/12">
                                <p v-if="tipo_inmueble == 1" class="pl-2 text-sm font-poppins-light text-morado-xante lg:text-base">{{ this.$trans('quest.pre1') }}</p>
                                <p v-else class="pl-2 text-sm font-poppins-light text-morado-xante lg:text-base">{{ this.$trans('quest.pre1b') }}</p>
                            </div>


                            <div class="pt-2 input-errors" v-for="error of v$.num_niveles.$silentErrors" :key="error.$uid">
                                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.digits') }}</div>
                                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                            </div>

                        </div>

                        <div class="relative flex items-center justify-around w-3/12 bg-gray-300 h-9 rounded-2xl">
                            <div v-on:click="menos(1)" class="flex items-center justify-center w-5 h-5 text-center text-white rounded-full cursor-pointer font-poppins-light button-gradient">-</div>
                            <p class="font-poppins-light text-morado-xante">{{ num_niveles }}</p>
                            <div v-on:click="mas(1)" class="flex items-center justify-center w-5 h-5 text-center text-white rounded-full cursor-pointer font-poppins-light button-gradient">+</div>
                        </div>

                    </div>
                    <!-- <br> -->
                    <div class="flex items-center justify-between w-full h-10">

                        <div class="flex items-center justify-start w-9/12">

                            <div class="flex items-center justify-center w-1/12">
                                <img class="w-5 h-5" src="/assets/images/svg/cama.svg" alt="cama">
                            </div>

                            <div class="w-11/12">
                                <p class="pl-2 text-sm font-poppins-light text-morado-xante lg:text-base">{{ this.$trans('quest.pre2') }}</p>
                            </div>



                        </div>

                        <div class="relative flex items-center justify-around w-3/12 bg-gray-300 h-9 rounded-2xl">
                            <div v-on:click="menos(2)" class="flex items-center justify-center w-5 h-5 text-center text-white rounded-full cursor-pointer font-poppins-light button-gradient">-</div>
                            <p class="font-poppins-light text-morado-xante">{{ num_recamaras }}</p>
                            <div v-on:click="mas(2)" class="flex items-center justify-center w-5 h-5 text-center text-white rounded-full cursor-pointer font-poppins-light button-gradient">+</div>
                        </div>

                    </div>
                    <div class="pt-2 input-errors" v-for="error of v$.num_recamaras.$silentErrors" :key="error.$uid">
                                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.digits') }}</div>
                                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                            </div>
                    <!-- <br> -->
                    <div class="flex items-center justify-between w-full h-10">

                        <div class="flex items-center justify-start w-9/12">

                            <div class="flex items-center justify-center w-1/12">
                                <img class="w-5 h-5" src="/assets/images/svg/tina.svg" alt="tina">
                            </div>

                            <div class="w-11/12">
                                <p class="pl-2 text-sm font-poppins-light text-morado-xante lg:text-base">{{ this.$trans('quest.pre3') }}</p>
                            </div>



                        </div>

                        <div class="relative flex items-center justify-around w-3/12 bg-gray-300 h-9 rounded-2xl">
                            <div v-on:click="menos(3)" class="flex items-center justify-center w-5 h-5 text-center text-white rounded-full cursor-pointer font-poppins-light button-gradient">-</div>
                            <p class="font-poppins-light text-morado-xante">{{ num_baños }}</p>
                            <div v-on:click="mas(3)" class="flex items-center justify-center w-5 h-5 text-center text-white rounded-full cursor-pointer font-poppins-light button-gradient">+</div>
                        </div>

                    </div>
                    <div class="pt-2 input-errors" v-for="error of v$.num_baños.$silentErrors" :key="error.$uid">
                                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.digits') }}</div>
                                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                            </div>
                    <!-- <br> -->
                    <div class="flex items-center justify-between w-full h-10">

                        <div class="flex items-center justify-start w-9/12">

                            <div class="flex items-center justify-center w-1/12">
                                <img class="w-5 h-5" src="/assets/images/svg/baño.svg" alt="baño">
                            </div>

                            <div class="w-11/12">
                                <p class="pl-2 text-sm font-poppins-light text-morado-xante lg:text-base">{{ this.$trans('quest.pre4') }}</p>
                            </div>

                            <div class="pt-2 input-errors" v-for="error of v$.num_medios_baños.$silentErrors" :key="error.$uid">
                                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.digits') }}</div>
                                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                            </div>

                        </div>

                        <div class="relative flex items-center justify-around w-3/12 bg-gray-300 h-9 rounded-2xl">
                            <p class="flex items-center justify-center w-5 h-5 text-center text-white rounded-full cursor-pointer font-poppins-light button-gradient" v-on:click="menos(4)">-</p>
                            <p class="font-poppins-light text-morado-xante">{{ num_medios_baños }}</p>
                            <p class="flex items-center justify-center w-5 h-5 text-center text-white rounded-full cursor-pointer font-poppins-light button-gradient" v-on:click="mas(4)">+</p>
                        </div>

                    </div>
                    <!-- <br> -->
                    <div class="flex items-center justify-between w-full h-10">

                        <div class="flex items-center justify-start w-9/12">

                            <div class="flex items-center justify-center w-1/12">
                                <img class="w-5 h-5" src="/assets/images/svg/estacionamientos.svg" alt="estacionamientos">
                            </div>

                            <div class="w-11/12">
                                <p class="pl-2 text-sm font-poppins-light text-morado-xante lg:text-base">{{ this.$trans('quest.pre5') }}</p>
                            </div>

                            <div class="pt-2 input-errors" v-for="error of v$.num_estacionamientos.$silentErrors" :key="error.$uid">
                                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.digits') }}</div>
                                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                            </div>

                        </div>

                        <div class="relative flex items-center justify-around w-3/12 bg-gray-300 h-9 rounded-2xl">
                            <div class="flex items-center justify-center w-5 h-5 text-center text-white rounded-full cursor-pointer font-poppins-light button-gradient" v-on:click="menos(5)">-</div>
                            <p class="font-poppins-light text-morado-xante">{{ num_estacionamientos }}</p>
                            <div class="flex items-center justify-center w-5 h-5 text-center text-white rounded-full cursor-pointer font-poppins-light button-gradient" v-on:click="mas(5)">+</div>
                        </div>

                    </div>

                </div>

                <div class="relative flex flex-col items-start justify-center w-full pt-20 lg:pt-0 lg:pl-10 lg:w-1/2">

                    <div class="relative flex flex-col items-start justify-center w-full pb-6">
                        <p class="pl-2 font-poppins-light text-morado-xante">{{ this.$trans('quest.pre6') }}</p>
                        <span class="pl-2 text-sm text-gray-400 font-poppins-light">{{ this.$trans('quest.pre7') }}</span>
                        <input v-model="años" type="text" :placeholder="this.$trans('quest.pre8')" class="w-full mt-2 bg-gray-300 border-transparent rounded-lg outline-none focus:border-verde-landing focus:border-4 font-poppins-light focus:ring-offset-0 focus:ring-0 focus:outline-none" pattern="[0-9]*">

                        <div class="pt-2 input-errors" v-for="error of v$.años.$silentErrors" :key="error.$uid">
                            <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                            <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                            <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.min_años') + ' ' + error.$params.min }}</div>
                            <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.max_años') + ' ' + error.$params.max }}</div>
                        </div>

                    </div>

                    <div class="relative flex flex-col items-start justify-center w-full">
                        <p class="pl-2 font-poppins-light text-morado-xante">{{ this.$trans('quest.pre9') }}</p>
                        <span class="pl-2 text-sm text-gray-400 font-poppins-light">{{ this.$trans('quest.pre10') }}</span>
                        <input v-model="m2" type="text" :placeholder="this.$trans('quest.pre11')" class="w-full mt-2 bg-gray-300 border-transparent rounded-lg outline-none focus:border-verde-landing focus:border-4 font-poppins-light focus:ring-offset-0 focus:ring-0 focus:outline-none" pattern="[0-9]*">

                        <div class="pt-2 input-errors" v-for="error of v$.m2.$silentErrors" :key="error.$uid">
                            <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                            <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                            <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.min_m2') + ' ' + error.$params.min }}</div>
                            <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max }}</div>
                        </div>

                    </div>

                </div>

            </div>



            <div class="relative flex items-center justify-center w-full pt-10 lg:hidden">
                <div class="relative flex justify-center h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer w-28 button-gradient font-poppins-bold" v-on:click="siguiente()">{{ this.$trans('quest.siguiente') }}</div>
            </div>
            <div class="relative flex items-center justify-center w-full pt-10 lg:hidden">
                <div class="relative flex justify-center h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer w-28 button-gradient font-poppins-bold" v-on:click="retroceder()">Anterior</div>
            </div>
            <br><br>
        </div>
        <div class="relative top-8 w-full pt-64">
        <div class="absolute z-20 justify-center hidden h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer lg:flex bottom-28 left-4 w-28 button-gradient font-poppins-bold hover:shadow-lg hover:scale-110" v-on:click="retroceder()">Anterior</div>

        <div class="absolute z-20 justify-center hidden h-auto pt-2 pb-2 text-sm text-white transform rounded-md shadow-md cursor-pointer lg:flex bottom-28 right-4 w-28 button-gradient font-poppins-bold hover:shadow-lg hover:scale-110" v-on:click="siguiente()">{{ this.$trans('quest.siguiente') }}</div>
        </div>

    </div>

</template>

<script>

    import useVuelidate from '@vuelidate/core'
    import { required, numeric, minValue, maxValue } from '@vuelidate/validators'

    export default {
        props: ['formulario'],
        setup () {
            return { v$: useVuelidate() }
        },
        data() {
            return {
                tipo_inmueble: null,
                num_niveles: 0,
                num_recamaras: 0,
                num_baños: 0,
                num_medios_baños: 0,
                num_estacionamientos: 0,
                años: null,
                m2: null
            }
        },
        validations() {
            return {
                num_niveles: {
                    required,
                    numeric,
                    minValue: minValue(0),
                    maxValue: maxValue(100)
                },
                num_recamaras: {
                    required,
                    numeric,
                    minValue: minValue(1),
                    maxValue: maxValue(100)
                },
                num_baños: {
                    required,
                    numeric,
                    minValue: minValue(1),
                    maxValue: maxValue(100)
                },
                num_medios_baños: {
                    required,
                    numeric,
                    minValue: minValue(0),
                    maxValue: maxValue(100)
                },
                num_estacionamientos: {
                    required,
                    numeric,
                    minValue: minValue(0),
                    maxValue: maxValue(100)
                },
                años: {
                    required,
                    numeric,
                    minValue: minValue(1),
                    maxValue: maxValue(100)
                },
                m2: {
                    required,
                    numeric,
                    minValue: minValue(10),
                    maxValue: maxValue(1000000)
                }
            }
        },
        mounted() {
            // if (this.tipo_inmueble ==null || this.tipo_inmueble == 0){

            // }else{
                this.tipo_inmueble = this.formulario.property_type
                this.años = this.formulario.years
                this.m2 = this.formulario.m2
            // }
            if (this.house_levels ==null || this.house_levels == 0){

            }else{
                this.num_niveles = this.formulario.house_levels
            }
            if (this.num_recamaras ==null || this.num_recamaras == 0){

            }else{
                this.num_recamaras = this.formulario.bedroom
            }
            if (this.num_baños ==null || this.num_baños == 0){

            }else{
                this.num_baños = this.formulario.bathroom
            }
            if (this.num_medios_baños ==null || this.num_medios_baños == 0){

            }else{
                this.num_medios_baños = this.formulario.half_bathrooms
            }
            if (this.num_estacionamientos ==null || this.num_estacionamientos == 0){

            }else{
                this.num_estacionamientos = this.formulario.parking_slots
            }



            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
            this.habilitarBotonAceptar(this.v$.$invalid)
        },

        methods:{

            menos: function(num){

                console.log('resta 1')

                switch(num){
                    case 1:
                    this.num_niveles = (this.num_niveles == 0 ? this.num_niveles : this.num_niveles - 1)
                        break
                    case 2:
                        this.num_recamaras = (this.num_recamaras == 0 ? this.num_recamaras : this.num_recamaras - 1)
                        break
                    case 3:
                        this.num_baños = (this.num_baños == 0 ? this.num_baños : this.num_baños - 1)
                        break
                    case 4:
                        this.num_medios_baños = (this.num_medios_baños == 0 ? this.num_medios_baños : this.num_medios_baños - 1)
                        break
                    case 5:
                        this.num_estacionamientos = (this.num_estacionamientos == 0 ? this.num_estacionamientos : this.num_estacionamientos - 1)
                        break
                    default:
                }

            },

            mas: function(num){

                console.log('suma 1')

                switch(parseInt(num)){
                    case 1:
                        this.num_niveles = this.num_niveles + 1
                        break
                    case 2:
                        this.num_recamaras = this.num_recamaras + 1
                        break
                    case 3:
                        this.num_baños = this.num_baños + 1
                        break
                    case 4:
                        this.num_medios_baños = this.num_medios_baños + 1
                        break
                    case 5:
                        this.num_estacionamientos = this.num_estacionamientos + 1
                        break
                    default:
                }

            },

            seleccionInmueble: function(value){
                this.tipo_inmueble = value
            },
            retroceder: function(){
                this.$emit('retrocederBtn')
            },

            siguiente: function(){

                if(!this.v$.$invalid){
                    this.$emit('guardarValor', 'property_type', this.tipo_inmueble)
                    this.$emit('guardarValor', 'house_levels', this.num_niveles)
                    this.$emit('guardarValor', 'bedroom', this.num_recamaras)
                    this.$emit('guardarValor', 'bathroom', this.num_baños)
                    this.$emit('guardarValor', 'half_bathrooms', this.num_medios_baños)
                    this.$emit('guardarValor', 'parking_slots', this.num_estacionamientos)
                    this.$emit('guardarValor', 'years', this.años)
                    this.$emit('guardarValor', 'm2', this.m2)

                    this.$emit('avanzar')
                    // this.$emit('avanzarBtn')
                }

            },
            // habilitarBotonAceptar: function(estado = true){
            //     this.deshabilitar = estado
            // },

        }
    }

</script>
