<template>

   <div class="relative flex items-start justify-end w-full px-6 py-6 pt-20 overflow-y-hidden h-2/3 lg:py-0 lg:pt-0">

        <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly">
            <p class="py-2 text-2xl text-black font-montserrat-bold">{{ this.$trans('quest.q3') }}</p>
            <div v-if="!inputText" class="w-full">
                <select  class="w-full text-black border-0 border-b-2 font-montserrat-semibold" @change="guardar" v-model="desarrollo_id">
                    <option value="">{{ this.$trans('quest.select_dev') }}</option>
                    <option v-for="desarrollo in desarrollosList" :value="desarrollo.id" :key="desarrollo.id">{{ desarrollo.nombre}}</option>
                    <option value="otro">{{ this.$trans('quest.another') }}</option>
                </select>
                <div class="pt-2 input-errors" v-for="error of v$.desarrollo_id.$silentErrors" :key="error.$uid">
                    <!-- <div class="text-red-600 error-msg font-titillium-bold">{{ error }}</div> -->
                    <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                    <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                    <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.email_valid') }}</div>
                    <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' + $trans('quest.chars') }}</div>
                    <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                    <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                    <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.max_val') + ' ' + error.$params.max }}</div>
                </div>
            </div>
            <div v-else class="w-full">
                <input ref="input-otro" id="input-otro" type="text" :placeholder="this.$trans('quest.name_dev')" class="w-full text-black border-0 border-b-2 font-montserrat-semibold" v-model="desarrollo_otro" @input="guardar_otro" v-on:keyup="keyMonitor">
                <div class="pt-2 input-errors" v-for="error of v$.desarrollo_otro.$silentErrors" :key="error.$uid">
                    <!-- <div class="text-red-600 error-msg font-titillium-bold">{{ error }}</div> -->
                    <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                    <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                    <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.email_valid') }}</div>
                    <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' + $trans('quest.chars') }}</div>
                    <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                    <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                    <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.max_val') + ' ' + error.$params.max }}</div>
                </div>
            </div>


            <button class="py-1.5 mt-10 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{ this.$trans('quest.accept') }}</button>

        </div>

        <div class="w-0 lg:w-2/12"></div>

    </div>

</template>

<script>

    import axios from 'axios'
    import useVuelidate from '@vuelidate/core'
    import { required } from '@vuelidate/validators'

    export default {
        props: ['formulario'],
        setup () {
            return { v$: useVuelidate() }
        },
        data() {
            return {
                desarrollo_id: null,
                desarrollo_otro: null,
                desarrollosList: null,
                deshabilitar: true,
                inputText: false
            }
        },
        validations() {
            return {
                desarrollo_id: {
                    required,
                },
                desarrollo_otro: {
                    required,
                }

            }
        },
        mounted() {

            if(this.formulario.estado_id == 15
            || this.formulario.estado_id == 13
            || this.formulario.estado_id == 22
            || this.formulario.estado_id == 21
            || this.formulario.estado_id == 23
            || this.formulario.estado_id == 19){

                this.inputText = false

                axios.get('/api/desarrollos/'+this.formulario.estado_id)
                .then(response => (this.desarrollosList = response.data.data))

                if(typeof(this.formulario.desarrollo_id) != 'undefined'){
                    console.log('EXISTE EN FORMULARIO DESARROLLO_ID');
                    if(this.formulario.desarrollo_id == 9999){
                        console.log('DESARROLLO_ID ES 9999');
                        this.inputText = true
                        this.desarrollo_otro = this.formulario.desarrollo_otro
                        this.desarrollo_id = 9999
                    }else{
                        this.desarrollo_id = this.formulario.desarrollo_id
                        this.desarrollo_otro = 9999
                    }
                }else{
                    console.log('NO EXISTE EN FORMULARIO DESARROLLO_ID');
                    this.$emit('deshabilitarAvanzar')
                    this.habilitarBotonAceptar()
                }
            }else{
                console.log('EL ESTADO NO TIENE FRACCIONAMIENTOS');
                this.inputText = true
                this.desarrollo_id = 9999
                this.desarrollo_otro = null
                if(typeof(this.formulario.desarrollo_otro) != 'undefined'){
                    console.log('EXISTE EN FORMULARIO DESARROLLO_OTRO');
                    this.desarrollo_otro = this.formulario.desarrollo_otro
                }else{
                    console.log('NO EXISTE EN FORMULARIO DESARROLLO_OTRO');
                    this.$emit('deshabilitarAvanzar')
                    this.habilitarBotonAceptar()
                }
            }

            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
            this.habilitarBotonAceptar(this.v$.$invalid)
        },
        methods: {
            guardar: function(){
                if(this.desarrollo_id == 'otro'){
                    this.inputText = true
                    this.desarrollo_id = 9999
                    this.desarrollo_otro = null
                }else{
                    this.desarrollo_otro = 9999
                    this.$emit('guardarValor', 'desarrollo_id', this.desarrollo_id)
                    this.$emit('guardarValor', 'desarrollo_otro', 9999)
                }
                this.$emit('deshabilitarAvanzar', this.v$.$invalid)
                this.habilitarBotonAceptar(this.v$.$invalid)
            },
            guardar_otro: function(){
                this.$emit('guardarValor', 'desarrollo_id', 9999)
                this.$emit('guardarValor', 'desarrollo_otro', this.desarrollo_otro)
            },
            keyMonitor: function(event){
                this.desarrollo_id = 9999
                this.$emit('deshabilitarAvanzar', this.v$.$invalid)
                this.habilitarBotonAceptar(this.v$.$invalid)
            },
            siguiente: function(){
                this.$emit('avanzar')
            },
            habilitarBotonAceptar: function(estado = true){
                this.deshabilitar = estado
            }
        }
    }

</script>
