<template>

    <div style="height: calc(100% - 240px)" class="flex flex-col items-center justify-start w-full pt-14">

        <div class="relative w-10/12 h-auto lg:w-1/2">

            <p class="pb-10 text-4xl text-justify font-poppins-bold text-morado-xante">{{ this.$trans('quest.in_direction') }}</p>

            <div class="flex flex-col items-start justify-center">

                <p class="pl-2 text-black font-poppins-light lg:text-justify xl:text-justify 2xl:text-justify md:text-justify">{{ this.$trans('quest.in_direction_short') }}</p>
                <input v-model="direccion" id="input-direccion" autocomplete="on" type="text" :placeholder="this.$trans('quest.in_direction')" v-on:keyup="buscarDireccionApi()" class="w-full bg-gray-100 border-transparent rounded-lg focus:border-verde-landing focus:border-4 text-morado-xante font-poppins-light">

                <div class="pt-2 input-errors" v-for="error of v$.direccion.$silentErrors" :key="error.$uid">
                    <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.required') }}</div>
                    <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.numeric') }}</div>
                    <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.email_valid') }}</div>
                    <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.digits') }}</div>
                    <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                    <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.min + ' ' + $trans('quest.digits') }}</div>
                    <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg font-montserrat-regular" >{{ $trans('quest.num_digits') + ' ' + error.$params.max + ' ' + $trans('quest.digits') }}</div>
                </div>

                <div v-if="lista.length > 0" class="w-full h-auto bg-white border-2 border-gray-100 rounded-lg">
                    <ul id="lista">

                        <li v-for="item in lista" :key="item.index" class='flex items-center justify-start h-8 pl-2 overflow-hidden truncate cursor-pointer hover:bg-gray-100 text-ellipsis' v-on:click="elegirDireccion(item.description)">
                            {{ item.description }}
                        </li>
                    </ul>
                </div>

                <div class="relative flex items-center justify-center w-full h-20 lg:justify-end ">
                    <div class="flex justify-center h-auto pt-2 pb-2 text-sm text-white transform rounded-lg shadow-md cursor-pointer right-4 w-28 button-gradient font-poppins-semibold hover:shadow-lg hover:scale-110" v-on:click="aceptarDireccion()">{{ this.$trans('quest.accept')}}</div>
                </div>

            </div>

        </div>

    </div>

</template>

<script>

    import useVuelidate from '@vuelidate/core'
    import { required } from '@vuelidate/validators'

    export default {
        props: ['ingresarDireccionManual', 'formulario'],
        setup () {
            return { v$: useVuelidate() }
        },
        data() {
            return {
                lista: [],
                direccion: null,
                seleccionada: null,
                placeholder: this.$trans('quest.in_direction')
            }
        },
        validations() {
            return {
                direccion: {
                    required,
                }
            }
        },
        mounted() {
            this.seleccionada = this.formulario.google_direction
            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
            this.habilitarBotonAceptar(this.v$.$invalid)
        },
        methods:{

            aceptarDireccion: function(){

                if(this.seleccionada != null && !this.v$.$invalid){
                    this.$emit('guardarValor', 'google_direction', this.seleccionada)
                    this.$emit('avanzar')
                }

            },

            elegirDireccion: function(dir){
                this.seleccionada = dir
                this.direccion = dir
                this.lista = []
            },

            buscarDireccionApi: async function(){

                await fetch('/api/google-places', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        text: this.direccion
                    })
                }
                ).then((res) => {
                    return res.json()
                }).then((res) => {

                    if(res.success){

                        if(res.data.predictions.length > 0){
                            this.lista = res.data.predictions
                        }else{
                            this.lista = []
                            list = ''
                        }

                    }else{
                        console.log('error')
                    }

                })
                .catch(error => {
                    console.log(error)
                })

            }
        }
    }

</script>
