<template>

    <div class="relative flex items-start justify-end w-full px-6 py-6 pt-20 overflow-y-hidden h-2/3 lg:py-0 lg:pt-0">

        <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly">

            <p class="text-black font-montserrat-regular">{{ this.$trans('quest.start') }}</p>
            <p class="py-2 text-lg text-black font-montserrat-bold lg:text-2xl">{{ this.$trans('quest.q1') }}</p>
            <select :placeholder="this.$trans('quest.select')" name="" id="" class="w-full mt-4 text-black border-0 border-b-2 font-montserrat-semibold lg:mt-0" @change="guardar" v-model="estado_id">
                <option value="">{{ this.$trans('quest.select')}}</option>
                <!-- <option value="1">Mexico</option>
                <option value="2">Japon</option>
                <option value="3">Alemania</option> -->

                <option v-for="estados in estadosList" :value="estados.id" :key="estados.id">{{ estados.nombre}}</option>
            </select>
            <div class="pt-2 text-sm input-errors font-montserrat-regular" v-for="error of v$.estado_id.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.required') }}</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.numeric') }}</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.email_valid') }}</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' + $trans('quest.chars') }}</div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.max + ' ' + $trans('quest.chars') }}</div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.max_val') + ' ' + error.$params.max }}</div>
            </div>

            <button class="py-1.5 mt-10 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{ this.$trans('quest.accept') }}</button>

        </div>

        <div class="w-0 lg:w-2/12"></div>



    </div>

</template>

<script>

    import axios from 'axios'

    import useVuelidate from '@vuelidate/core'
    import { required } from '@vuelidate/validators'

    export default {
        props: ['formulario'],
        setup () {
            return { v$: useVuelidate() }
        },
        data() {
            return {
                estado_id: "",
                estadosList: null,
                deshabilitar: true
            }
        },
        validations() {
            return {
                estado_id: {
                    required
                }
            }
        },
        mounted() {
            this.estado_id = this.formulario.estado_id
            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
            this.habilitarBotonAceptar(this.v$.$invalid)
            // this.formulario.desarrollo_id = ''

            axios.get('/api/estados')
                .then(response => (this.estadosList = response.data.data))

        },
        methods: {
            guardar: function(){
                this.$emit('deshabilitarAvanzar', (this.estado_id == ''))
                this.habilitarBotonAceptar(this.v$.$invalid)
                this.$emit('guardarValor', 'estado_id', parseInt(this.estado_id))
            },
            siguiente: function(){
                this.$emit('avanzar')
            },
            habilitarBotonAceptar: function(estado = true){
                this.deshabilitar = estado
            }
        }
    }

</script>
