<template>

    <div class="relative flex items-start justify-end w-full px-6 py-6 pt-20 overflow-y-hidden h-2/3 lg:py-0 lg:pt-0">

        <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly" v-if="propiedad_tipo_id == '1'">
            <p class="py-2 text-2xl text-black font-montserrat-bold">{{ this.$trans('quest.q22c') }}</p>
            <input type="tel" :placeholder="this.$trans('quest.tel')" name="telefono" v-model="telefono" @change="guardar" v-on:keyup="keyMonitor" class="w-full my-2 text-black border-0 border-b-2 font-montserrat-semibold lg:my-0">
            <div class="input-errors font-montserrat-regular" v-for="error of v$.telefono.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.required') }}</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.numeric') }}</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.email_valid') }}</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' + $trans('quest.chars') }}</div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.max + ' ' + $trans('quest.chars') }}</div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.max_val') + ' ' + error.$params.max }}</div>
            </div>
            <input type="email" :placeholder="this.$trans('quest.email')" name="correo" v-model="correo" @change="guardar" v-on:keyup="keyMonitor" class="w-full my-2 text-black border-0 border-b-2 font-montserrat-semibold lg:my-0">
            <div class="pt-2 input-errors font-montserrat-regular" v-for="error of v$.correo.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.required') }}</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.numeric') }}</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.email_valid') }}</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' + $trans('quest.chars') }}</div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.max + ' ' + $trans('quest.chars') }}</div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.max_val') + ' ' + error.$params.max }}</div>
            </div>

            <button class="py-1.5 mt-10 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{ this.$trans('quest.accept') }}</button>

        </div>

        <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly" v-if="propiedad_tipo_id == '2'">
            <p class="py-2 text-2xl text-black font-montserrat-bold">{{ this.$trans('quest.q22d') }}</p>
            <input type="text" :placeholder="this.$trans('quest.enter_answer')" class="w-full text-black border-0 border-b-2 font-montserrat-semibold" @change="guardar" v-model="nombre_propietario" v-on:keyup="keyMonitorNombre">
            <div class="pt-2 input-errors font-montserrat-regular" v-for="error of v$.nombre_propietario.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.required') }}</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.numeric') }}</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.email_valid') }}</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' + $trans('quest.chars') }}</div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.max + ' ' + $trans('quest.chars') }}</div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.max_val') + ' ' + error.$params.max }}</div>
            </div>

            <button class="py-1.5 mt-10 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{ this.$trans('quest.accept') }}</button>

        </div>

        <div class="w-0 lg:w-2/12"></div>

    </div>

</template>

<script>

    import useVuelidate from '@vuelidate/core'
    import { required, email, minLength, maxLength, numeric } from '@vuelidate/validators'

    export default {
        props: ['formulario'],
        setup () {
            return { v$: useVuelidate() }
        },
        data() {
            return {
                propiedad_tipo_id: "",
                telefono: "1234567890",
                correo: "correo@correo.com",
                nombre_propietario: "Propietario",
                deshabilitar: true
            }
        },
        validations() {
            return {
                telefono: {
                    required,
                    numeric,
                    minLength:minLength(10),
                    maxLength:maxLength(10)
                },
                correo: {
                    required,
                    email
                },
                nombre_propietario: {
                    required,
                    minLength:minLength(3)
                }
            }
        },
        mounted() {
            this.propiedad_tipo_id = this.formulario.propiedad_tipo_id
            if(this.propiedad_tipo_id == "1"){
                this.telefono = this.formulario.telefono
                this.correo = this.formulario.correo
            }else{
                this.nombre_propietario = this.formulario.nombre_propietario
            }
            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
            this.habilitarBotonAceptar(this.v$.$invalid)
        },
        methods: {
            guardar: function(){
                if(this.propiedad_tipo_id == "1"){
                    this.$emit('guardarValor', 'telefono', this.telefono)
                    this.$emit('guardarValor', 'correo', this.correo)
                }else{
                    this.$emit('guardarValor', 'nombre_propietario', this.nombre_propietario)
                }
            },
            keyMonitor: function(event){
                this.$emit('deshabilitarAvanzar', this.v$.$invalid)
                this.habilitarBotonAceptar(this.v$.$invalid)
            },
            keyMonitorNombre: function(event){
                this.$emit('deshabilitarAvanzar', this.v$.$invalid)
                this.habilitarBotonAceptar(this.v$.$invalid)
            },
            siguiente: function(){
                this.$emit('avanzar')
            },
            habilitarBotonAceptar: function(estado = true){
                this.deshabilitar = estado
            }
        }
    }

</script>
