<template>

    <div class="relative flex items-start justify-end w-full px-6 py-6 pt-8 overflow-y-hidden h-2/3 lg:py-0 lg:pt-0">

        <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly" v-if="propiedad_tipo_id == '1'">
            <p class="py-2 text-2xl text-black font-montserrat-bold">{{ this.$trans('quest.q21c') }}</p>
            <div class="relative flex flex-col items-center justify-start w-full font-montserrat-semibold lg:flex-row">
                <div class="relative flex items-center justify-start w-full py-2 lg:py-0">
                    <input type="radio" class="mr-3 w-7 h-7" name="dieciochob" value="Infonavit" v-model="hipoteca_tipo" @change="guardar"> <span class="mr-4 text-black">Infonavit</span>
                </div>
                <div class="relative flex items-center justify-start w-full py-2 lg:py-0">
                    <input type="radio" class="mr-3 lg:ml-8 w-7 h-7" name="dieciochob" value="Fovissste" v-model="hipoteca_tipo" @change="guardar"> <span class="mr-4 text-black">Fovissste</span>
                </div>
                <div class="relative flex items-center justify-start w-full py-2 lg:py-0">
                    <input type="radio" class="mr-3 lg:ml-8 w-7 h-7" name="dieciochob" value="Banco" v-model="hipoteca_tipo" @change="guardar"> <span class="mr-4 text-black">Banco</span>
                </div>
                <div class="relative flex items-center justify-start w-full py-2 lg:py-0">
                    <input type="radio" class="mr-3 lg:ml-8 w-7 h-7" name="dieciochob" value="Otro" v-model="hipoteca_tipo" @change="guardar"> <span class="mr-4 text-black">Otro</span>
                </div>
            </div>
            <div class="pt-2 font-montserrat-regular input-errors" v-for="error of v$.hipoteca_tipo.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.required') }}</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.numeric') }}</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.email_valid') }}</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' + $trans('quest.chars') }} </div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.max + ' ' + $trans('quest.chars') }} </div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.max_val') + ' ' + error.$params.max }}</div>
            </div>

            <button class="py-1.5 mt-10 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{ this.$trans('quest.accept') }}</button>

        </div>

        <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly" v-if="propiedad_tipo_id == '2'">
            <p class="py-2 text-2xl text-black font-montserrat-bold">{{ this.$trans('quest.q21d') }}</p>
            <input type="tel" :placeholder="this.$trans('quest.tel')" name="telefono" v-model="telefono" @change="guardar" v-on:keyup="keyMonitor" class="w-full my-2 text-black border-0 border-b-2 font-montserrat-semibold lg:my-0">
             <div class="pt-2 input-errors font-montserrat-regular" v-for="error of v$.telefono.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.required') }}</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.numeric') }}</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.email_valid') }}</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' + $trans('quest.chars') }} </div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.max + ' ' + $trans('quest.chars') }} </div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.max_val') + ' ' + error.$params.max }}</div>
            </div>
            <input type="email" :placeholder="this.$trans('quest.email')" name="correo" v-model="correo" @change="guardar" v-on:keyup="keyMonitor" class="w-full my-2 text-black border-0 border-b-2 font-montserrat-semibold lg:my-0">
            <div class="pt-2 input-errors font-montserrat-regular" v-for="error of v$.correo.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.required') }}</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.numeric') }}</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.email_valid') }}</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' + $trans('quest.chars') }} </div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.max + ' ' + $trans('quest.chars') }} </div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.max_val') + ' ' + error.$params.max }}</div>
            </div>

            <button class="py-1.5 mt-10 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{ this.$trans('quest.accept') }}</button>

        </div>

        <div class="w-0 lg:w-2/12"></div>

    </div>

</template>

<script>

    import useVuelidate from '@vuelidate/core'
    import { required, numeric, minLength, maxLength, email } from '@vuelidate/validators'

    export default {
        props: ['formulario'],
        setup () {
            return { v$: useVuelidate() }
        },
        data() {
            return {
                propiedad_tipo_id: "",
                hipoteca_tipo: "Otro",
                telefono: "1234567890",
                correo: "correo@correo.com",
                deshabilitar: true
            }
        },
        validations() {
            return {
                telefono: {
                    required,
                    numeric,
                    minLength:minLength(10),
                    maxLength:maxLength(10)
                },
                correo: {
                    required,
                    email
                },
                hipoteca_tipo: {
                    required
                }
            }
        },
        mounted() {
            this.propiedad_tipo_id = this.formulario.propiedad_tipo_id
            if(this.propiedad_tipo_id == "1"){
                this.hipoteca_tipo = this.formulario.hipoteca_tipo
            }else{
                this.telefono = this.formulario.telefono
                this.correo = this.formulario.correo
            }
            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
            this.habilitarBotonAceptar(this.v$.$invalid)
        },
        methods: {
            guardar: function(){
                if(this.propiedad_tipo_id == "1"){
                    this.$emit('guardarValor', 'hipoteca_tipo', this.hipoteca_tipo)
                }else{
                    this.$emit('guardarValor', 'telefono', this.telefono)
                    this.$emit('guardarValor', 'correo', this.correo)
                }
                this.$emit('deshabilitarAvanzar', this.v$.$invalid)
                this.habilitarBotonAceptar(this.v$.$invalid)
            },
            keyMonitor: function(event){
                this.$emit('deshabilitarAvanzar', this.v$.$invalid)
                this.habilitarBotonAceptar(this.v$.$invalid)
            },
            siguiente: function(){
                if(!this.v$.$invalid){
                    this.$emit('avanzar')
                }
            },
            habilitarBotonAceptar: function(estado = true){
                this.deshabilitar = estado
            }
        }
    }

</script>
