<template>

    <div class="relative flex items-start justify-end w-full px-6 py-6 pt-20 overflow-y-hidden h-2/3 lg:py-0 lg:pt-0">

        <div class="flex flex-col items-center justify-center w-full px-4 pb-2 lg:w-3/4 lg:justify-evenly h-5/6 lg:px-0">

            <div class="relative w-full lg:w-1/3">
                <p class="w-full mb-3 text-base text-center text-black uppercase lg:text-left lg:text-2xl font-montserrat-bold">{{ this.$trans('quest.option') }}</p>
                <div class="relative w-full h-16 overflow-hidden cursor-pointer lg:w-full">
                    <div id="boton_archivos" v-on:click="adjuntar" class="absolute z-0 flex items-center justify-center w-full h-full overflow-hidden bg-black shadow-lg cursor-pointer">
                        <div class="w-4/5 px-3 py-4 text-xl text-center text-white cursor-pointer lg:text-2xl font-montserrat-regular lg:px-0">{{ this.$trans('quest.photos') }}</div>
                        <div class="flex items-center justify-center w-2/5 h-full px-2 py-2 cursor-pointer lg:w-1/5 bg-azul-footer_index"><img src="/assets/images/version2/svg/nube.svg" class="w-6 cursor-pointer"></div>
                    </div>
                    <input id="input_archivos" type="file" class="absolute z-10 block w-full h-full opacity-0 cursor-pointer" multiple @change="cargarImagenes" ref="uploadfiles" accept="image/png, image/jpeg">
                </div>
            </div>

            <div id="respuesta_archivos"></div>

            <div class="relative flex items-center justify-center w-full h-auto pt-10 lg:pt-0" id="cont_vistas_previas">

                <img src="/assets/images/svg/foto.png" class="w-full lg:w-1/3 lg:pt-6" v-if="imagenes.length == 0">

                <div class="grid w-5/6 h-auto grid-cols-3 gap-4 overflow-y-auto lg:grid-cols-5 lg:py-10" v-if="imagenes.length != 0">
                    <div v-for="(url, key) in urls" :key="key" class="relative">
                        <div>
                            <!-- {{ url }} -->
                            <img class="absolute w-8 cursor-pointer top-2 right-2" src="/assets/images/svg/x.svg" alt="Eliminar imagen" @click="eliminarImagen(key)">
                            <img :src="url" class="h-24 md:h-40 xl:h-48 rounded-2xl">
                        </div>
                    </div>
                </div>

            </div>

            <div class="relative w-1/3 pt-4 lg:pt-0">
                <div v-if="loading" class="w-16 h-16 m-auto border-4 border-dashed rounded-full animate-spin border-violet-600"><img src="/assets/images/loading.png" alt="cargando"></div>
                <button v-if="!loading" class="relative left-0 py-1.5 font-bold text-white border-4 border-white shadow w-full lg:w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{ this.$trans('quest.accept')}}</button>
            </div>


        </div>


    </div>

</template>

<script>

    export default {
        props: ['formulario'],
        data() {
            return {
                imagenes: [],
                urls: [],
                deshabilitar: false,
                loading: false,
                iter: 0,
                numImagenesCargadas: 0,
            }
        },
        mounted() {
            this.$emit('deshabilitarAvanzar')
            // this.habilitarBotonAceptar()
            document.getElementById("boton_archivos").addEventListener("click", function() {
                document.getElementById("input_archivos").click()
            })
        },
        methods: {
            guardar: function(){
                if(this.imagenes.length != 0){
                    this.$emit('deshabilitarAvanzar', false)
                    // this.habilitarBotonAceptar(false)
                }
            },
            cargarImagenes: function(input){
                let formData = new FormData()
                let files = this.$refs.uploadfiles.files
                let totalfiles = this.$refs.uploadfiles.files.length
                let imagen = document.querySelector("#respuesta_archivos")

                if(totalfiles > 10 || (totalfiles + this.numImagenesCargadas) > 10){
                    return imagen.innerHTML = "<span id='span' class='text-sm font-bold text-red-500'>Solo se permiten 10 archivos</span>"
                }else{

                    if(this.numImagenesCargadas >= 10){
                        return imagen.innerHTML = "<span id='span' class='text-sm font-bold text-red-500'>Solo se permiten 10 archivos</span>"
                    }else{

                        imagen.innerHTML = ""

                        for (var index = 0; index < totalfiles; index++) {
                            if(files[index].size > 5000000){
                                imagen.innerHTML = "<span id='span' class='text-sm font-bold text-red-500'>Algunas imagenes pesan mas de 5MB</span>"
                            }else{

                                if(this.numImagenesCargadas > 10){
                                    imagen.innerHTML = "<span id='span' class='text-sm font-bold text-red-500'>Algunas imagenes pesan mas de 5MB</span>"
                                }else{
                                    formData.append("files-" + index, files[index]);
                                    this.readImage(files[index])

                                    this.imagenes.push({
                                        "id" : files[index]['name'],
                                        "datos" : files[index]
                                    })

                                    console.log(files[index])

                                    this.numImagenesCargadas ++
                                    console.log("numimagenes", this.numImagenesCargadas)
                                }

                            }

                        }

                        console.log("num imagenes: ", this.imagenes.length)
                        console.log("imagenes: ", this.imagenes)
                        this.iter ++

                        this.guardar()

                    }

                }

            },
            readImage(input){
                var reader = new FileReader();
                reader.addEventListener("load", () => {
                    this.urls.push(reader.result)
                }, false);
                reader.readAsDataURL(input);
                console.log("input ", input)
            },
            eliminarImagen: function(index){
                this.$delete(this.imagenes, index)
                this.$delete(this.urls, index)
                let imagen = document.querySelector("#span")
                if(this.imagenes.length == 0){
                    this.$emit('deshabilitarAvanzar')
                    // this.habilitarBotonAceptar()
                    console.log("tamaño de input de imagenes es 0")
                    imagen.remove()
                }
                console.log("num imagenes ", this.imagenes.length)
                this.numImagenesCargadas --

                if(this.numImagenesCargadas < 5){
                    imagen.innerHTML = ""
                }
            },
            adjuntar: function() {
                document.getElementById("input_archivos").click()
            },
            siguiente: function(){
                this.$emit('deshabilitarAvanzar', false)
                // if(this.imagenes.length != 0){
                    this.loading = true
                    this.$emit('guardarValor', 'archivos', this.imagenes)
                    this.$emit('avanzar')
                // }
            },
            habilitarBotonAceptar: function(estado = true){
                this.deshabilitar = estado
            }
        }
    }

</script>
