<template>

    <div class="relative flex items-start justify-end w-full px-6 py-6 pt-20 overflow-y-hidden h-2/3 lg:py-0 lg:pt-0">

        <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly" v-if="propiedad_tipo_id == '1'">
            <p class="py-2 text-2xl text-black font-montserrat-bold">{{ this.$trans('quest.q20c') }}</p>
            <p class="pb-2 text-black font-semibolditalic">{{ this.$trans('quest.mortgage') }}</p>
            <div class="flex items-center justify-start w-full font-montserrat-semibold">
                <input type="radio" class="mr-3 w-7 h-7" name="dieciocho" value="SI" id="SI" v-model="hipoteca" @change="guardar"> <label for="SI" class="mr-4 text-black cursor-pointer font-montserrat-semibold">{{ this.$trans('quest.yes') }}</label>
                <input type="radio" class="ml-8 mr-3 w-7 h-7" name="dieciocho" value="NO" id="NO" v-model="hipoteca" @change="guardar"> <label for="NO" class="mr-4 text-black cursor-pointer font-montserrat-semibold">{{ this.$trans('quest.no') }}</label>
            </div>
            <div class="pt-2 input-errors font-montserrat-regular" v-for="error of v$.hipoteca.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.required') }}</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.numeric') }}</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.email_valid') }}</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' + $trans('quest.chars') }} </div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.max + ' ' + $trans('quest.chars') }} </div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.max_val') + ' ' + error.$params.max }}</div>
            </div>

            <button class="py-1.5 mt-10 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{ this.$trans('quest.accept') }}</button>

        </div>

        <div class="flex flex-col items-start w-full h-auto pb-2 lg:w-5/12 justify-evenly" v-if="propiedad_tipo_id == '2'">
            <p class="py-2 text-2xl text-black font-montserrat-bold">{{ this.$trans('quest.q20d') }}</p>
            <div class="relative flex flex-col items-center justify-start w-full lg:flex-row">
                <div class="relative flex items-center justify-start w-full py-2 lg:py-0">
                    <input type="radio" class="mr-3 w-7 h-7" name="dieciochob" value="Infonavit" id="Infonavit" v-model="hipoteca_tipo" @change="guardar"> <label for="Infonavit" class="mr-4 font-semibold text-black cursor-pointer">Infonavit</label>
                </div>
                <div class="relative flex items-center justify-start w-full py-2 lg:py-0">
                    <input type="radio" class="mr-3 lg:ml-8 w-7 h-7" name="dieciochob" value="Fovissste" id="Fovissste" v-model="hipoteca_tipo" @change="guardar"> <label for="Fovissste" class="mr-4 font-semibold text-black cursor-pointer">Fovissste</label>
                </div>
                <div class="relative flex items-center justify-start w-full py-2 lg:py-0">
                    <input type="radio" class="mr-3 lg:ml-8 w-7 h-7" name="dieciochob" value="Banco" id="Banco" v-model="hipoteca_tipo" @change="guardar"> <label for="Banco" class="mr-4 font-semibold text-black cursor-pointer">Banco</label>
                </div>
                <div class="relative flex items-center justify-start w-full py-2 lg:py-0">
                    <input type="radio" class="mr-3 lg:ml-8 w-7 h-7" name="dieciochob" value="Otro" id="Otro" v-model="hipoteca_tipo" @change="guardar"> <label for="Otro" class="mr-4 font-semibold text-black cursor-pointer">Otro</label>
                </div>
            </div>
            <div class="pt-2 input-errors font-montserrat-regular" v-for="error of v$.hipoteca_tipo.$silentErrors" :key="error.$uid">
                <div v-if="error.$validator == 'required'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.required') }}</div>
                <div v-if="error.$validator == 'numeric'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.numeric') }}</div>
                <div v-if="error.$validator == 'email'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.email_valid') }}</div>
                <div v-if="error.$validator == 'minLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.min + ' ' + $trans('quest.chars') }} </div>
                <div v-if="error.$validator == 'maxLength'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.num_chars') + ' ' + error.$params.max + ' ' + $trans('quest.chars') }} </div>
                <div v-if="error.$validator == 'minValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.min_val') + ' ' + error.$params.min }}</div>
                <div v-if="error.$validator == 'maxValue'" :key="error.$uid" class="text-azul-vinte-texto error-msg" >{{ $trans('quest.max_val') + ' ' + error.$params.max }}</div>
            </div>

            <button class="py-1.5 mt-10 font-bold text-white border-4 border-white shadow w-36 rounded-2xl bg-verde-boton" v-on:click="siguiente" v-bind:class="{'cursor-not-allowed' : deshabilitar}">{{ this.$trans('quest.accept') }}</button>

        </div>

        <div class="w-0 lg:w-2/12"></div>

    </div>

</template>

<script>

    import useVuelidate from '@vuelidate/core'
    import { required, numeric, minValue } from '@vuelidate/validators'

    export default {
        props: ['formulario'],
        setup () {
            return { v$: useVuelidate() }
        },
        data() {
            return {
                propiedad_tipo_id: "",
                hipoteca: "No",
                hipoteca_tipo: "Otro",
                deshabilitar: true
            }
        },
        validations() {
            return {
                hipoteca: {
                    required
                },
                hipoteca_tipo: {
                    required
                }
            }
        },
        mounted() {
            this.propiedad_tipo_id = this.formulario.propiedad_tipo_id
            if(this.propiedad_tipo_id == "1"){
                this.hipoteca = this.formulario.hipoteca
            }else{
                this.hipoteca_tipo = this.formulario.hipoteca_tipo
            }
            this.$emit('deshabilitarAvanzar', this.v$.$invalid)
            this.habilitarBotonAceptar(this.v$.$invalid)
        },
        methods: {
            guardar: function(){
                this.$emit('deshabilitarAvanzar', false)
                this.habilitarBotonAceptar(false)
                if(this.propiedad_tipo_id == "1"){
                    this.$emit('guardarValor', 'hipoteca', this.hipoteca)
                }else{
                    this.$emit('guardarValor', 'hipoteca_tipo', this.hipoteca_tipo)
                }
            },
            siguiente: function(){
                this.$emit('avanzar')
            },
            habilitarBotonAceptar: function(estado = true){
                this.deshabilitar = estado
            }
        }
    }

</script>
